<mat-toolbar>
  <!-- <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span> -->
  <span class="spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    login
  </button>
</mat-toolbar>
<div style="margin-top: 15px"></div>

<div class="container mx-auto">
  <div class="flex flex-col sm:flex-row">
    <div class=""></div>
    <div class="text-center">
      <img
        class="object-center mx-auto"
        width="10%"
        src="../../../assets/images/logo1.png"
      />
      <h1 class="tracking-tight font-extrabold">
        With <span style="color: #6cb43b"><b>SCANDIDATE</b></span
        >, you can increase confidence that your new hire is authentic, worthy
        and risk-free.
      </h1>
    </div>
    <div class=""></div>
  </div>

  <p>
    Well begun is half done. It is the guiding HR principle of almost all modern
    organizations. If you focus on hiring right, the rest, by default, falls
    into place. Recruiting "right" is an effort-intensive process and the final
    decision balances on hope - that it all works out well. If you want to
    convert this "hope" to belief - we at SCANDIDATE can help you. A complete,
    factual and guaranteed belief so that you "Know Your Hire"
  </p>

  <h2>Why SCANDIDATE?</h2>
  <div>
    <div>
      We are a Candid Scan on every Candidate you want to hire. We exist and
      operate purely with the support, collaboration and partnership of Human
      Resources professionals across different sectors. And, we therefore can
      provide pure, unadulterated support, collaboration and partnership to
      Human Resources professionals across different sectors. Yes, we are the
      bridge of information, from one HRD to another, about each person leaving
      one company and joining another. Scandidate is a candid career scan for
      each experienced professional.
    </div>
    <div></div>
  </div>

  <h2>
    How does SCANDIDATE help you reduce your time, cost and effort of
    recruitment?
  </h2>

  <div class="grid lg:grid-cols-4 xl:grid-cols-4 md:grid-cols-2 sm:grid-cols-1">
    <div>
      1
      <p>
        Eliminates the need to conduct a post de-facto, lengthy, costlier
        background verification
      </p>
    </div>
    <div>
      2
      <p>
        On-click, on-demand background report directly from the previous
        companies and educational institutes
      </p>
    </div>
    <div>
      3
      <p>
        Get REAL insights from previous organizations, educational institutes,
        fed into our system on a real-time basis
      </p>
    </div>
    <div>
      4
      <p>
        You will always know if your candidate has any "hidden" record which no
        other process brings to the fore
      </p>
    </div>
  </div>

  <div>
    What's in it for you?
    <div>As an Organization :</div>
    <div>
      De-mystify a candidate's work ethic, conduct and professionalism history ·
      Eliminate Reference check and Background check as a step in your hiring
      process and reduce cycle time · Contribute to creating a universally
      effective and advantageous industry practice · Receive extensive industry
      HR reports on hiring, attrition and best practices · Motivate employees to
      work consistently even while serving notice period · Conquer the risk of
      recruitment "infant mortality" - candidates leaving immediately after
      joining
    </div>
    <div>As an Employee :</div>
    <div>
      Augment your employability with your own Scandidate record - your
      credentials can't get a stronger backing than this!
    </div>
  </div>

  <h2>Why should you give your ex-employees' information?</h2>
  <p>
    You anyway do it - every time an ex-employee joins a new organization,
    someone from your management team or HR is spending considerable effort in
    helping the new organization complete their background checks. Why not
    instead do it in a one-shot, structured way with SCANDIDATE and also earn
    some revenue for each of your ex-employee's records downloaded by other
    organizations?
  </p>
</div>
