<mat-toolbar color="primary">
  <img width="25" src="./../../../assets/images/logo1.png" />
  <span class="spacer"></span>
  <ul class="flex flex-row items-end">
    <li class="md:pr-10 pr-1 md:text-2xl text-xs"><a routerLink="/landing-page" class="active"> Home </a></li>
    <li class="md:pr-10 pr-1 md:text-2xl text-xs"><a routerLink="/why-scandidate">Why?</a></li>
    <li class="md:pr-10 pr-1 md:text-2xl text-xs"><a routerLink="/for-organization">ForOrganization</a></li>
    <li class="md:pr-10 pr-1 md:text-2xl text-xs"><a routerLink="/about-us">AboutUs</a></li>
</ul>
  <a
    class="button"
    aria-label="Example icon-button with share icon"
    routerLink="/login" 
  >
    Partner Login
  </a>
</mat-toolbar>

<!-- first hero section -->
<section class="pt-8">
  <div class="container mx-auto flex flex-row md:flex-row items-center">
    <div class="flex w-full flex-col md:w-4/12 py-6 text-center items-center">
      <img class="w-full md:w-2/5" src="./../../../assets/images/logo1.png" />
    </div>
    <!--Left Col-->
    <div class="w-full md:w-5/12 justify-center items-center text-center md:text-left">
      <p class="leading-relaxed md:text-2xl sm:text-sm font-bold leading-tight">
        With <span style="color: #6cb43b"><b>SCANDIDATE</b></span
        >, you can increase confidence that your new hire is
        <span class="word-highlight">authentic, worthy and risk-free.</span>
      </p>
    </div>
    <!--Right Col-->
    <div class="w-full md:w-1/4 py-6 text-center items-end">
      <img class="w-full md:w-9/12" src="../../../assets/images/header.svg" />
    </div>
  </div>
</section>

<!-- main section -->

<section class="section-background p-5">
  <div class="container mx-auto">
    <p class="leading-relaxed text-3xl font-bold leading-tight text-center">
      Know Your Hire
    </p>
    <p class="text-justify text-2xl p-6 leading-tight">
      Well begun is half done. It is the guiding HR principle of almost all
      modern organizations. If you focus on hiring right, the rest, by default,
      falls into place. <b>Recruiting "right"</b> is an effort-intensive process
      and the final decision balances on hope - that it all works out well. If
      you want to convert this "hope" to belief - we at SCANDIDATE can help you.
      A complete, factual and guaranteed belief so that you
      <b>"Know Your Hire"</b>
    </p>
  </div>
</section>

<br />

<mat-toolbar color="primary">
  <p class="text-center">Copyright 2020</p>
</mat-toolbar>
