.spacer {
  flex: 1 1 auto;
}

.example-icon {
  padding: 0 14px;
}

.green-polygon-left {
  width: 545px;
  height: 609.3px;
  margin: 0 35.2px 155.7px 0;
  border: solid 1px rgba(112, 112, 112, 0.02);
  background-color: rgba(108, 180, 59, 0.65);
}

.green-polygon-right {
  width: 443px;
  height: 900.6px;
  margin: 0 0 186.9px 3px;
  border: solid 1px rgba(112, 112, 112, 0);
  background-color: rgba(108, 180, 59, 0.65);
}

.pad {
  padding-left: 35%;
  padding-right: 35%;
}

.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 4px solid #6cb43b;
  font-size: 24px;
  color: white;
  line-height: 20px;
  text-align: center;
  background: #fff;
  position: relative;
  z-index: 1;
  vertical-align: middle;
  display: table-cell;
}
.circle:before {
  position: absolute;
  right: 4px;
  top: 4px;
  left: 4px;
  bottom: 4px;
  content: "";
  background: #6cb43b;
  border-radius: 50%;
  z-index: -1;
}
