<app-navbar>
    <div class="bg-white">
    <div class="hd">
    
      <div class="org overflow-hidden lg:w-1/3 xl:w-1/6 md:mr-48 sm:w-4/6 lg:mr-8 mt-2">
        Search Employee Data
      </div>
      <form  class="login-form" [formGroup]="searchForm"  novalidate>
        <div class="flex flex-wrap">
            <div class="w-full md:w-1/5 sm:w-full">
                <mat-form-field class="example-form-field">
                    <mat-label>Employee Name</mat-label>
                    <input  matInput formControlName="firstName"  type="text"  class="br-btm input-w" autoComplete='off' >
                </mat-form-field>
            </div>
            <div class="w-full md:w-1/5 sm:w-full">
              <mat-form-field class="example-form-field">
                  <mat-label>Organization Name</mat-label>
                  <input  matInput formControlName="organizationName"  type="text"  class="br-btm input-w" autoComplete='off' value="organizationName">
              </mat-form-field>
            </div>
            <div class="w-full md:w-1/5 sm:w-full">
                <mat-form-field class="example-form-field">
                    <mat-label>Email</mat-label>
                    <input  matInput formControlName="email"  type="text"  class="br-btm input-w" autoComplete='off' >
                </mat-form-field>
            </div>
            <div class="w-full md:w-1/5 sm:w-full">
                <mat-form-field class="example-form-field">
                    <mat-label>Phone Number</mat-label>
                    <input  matInput formControlName="phoneNumber"  type="text"  class="br-btm input-w" autoComplete='off' >
                </mat-form-field>
            </div>
            
            <div class="w-full md:w-1/6 sm:w-full">
                <button mat-raised-button class="bg-black text-white rounded inline-flex items-center" (click)="search()"><mat-icon>search</mat-icon></button> 
            </div>
        </div>
      </form>
    </div>
    <div class="mat-elevation-z8 data-table">
      <table mat-table [dataSource]="dataSource" class="full-width-table"  aria-label="Elements">
        
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef >Employee Name</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.firstName}}</mat-cell>
        </ng-container>
    
        <!-- Email -->
        <ng-container matColumnDef="roll">
          <mat-header-cell *matHeaderCellDef >Employee ID</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.employeeId}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="orgName">
          <mat-header-cell *matHeaderCellDef >Organization Name</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.organizationName}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef >Email</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="phoneNumber">
          <mat-header-cell *matHeaderCellDef >phone Number</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.phoneNumber}}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="department">
          <mat-header-cell *matHeaderCellDef >Department</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.department}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="exp">
            <mat-header-cell *matHeaderCellDef >Experience</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.professionalExperience}}years</mat-cell>
        </ng-container>
        
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"   > 
        </mat-row>>
        <div class="p-4" *matNoDataRow>
          <p>No data matching the filter </p>
        </div>
       
      </table>
      <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
    </div>
    </div>
    
    </app-navbar>
    
    