.mat-select{
    padding-bottom: 10px !important;
}
.datepicker{
    margin-left: -11px !important;
    margin-bottom: -9px !important;
}
.image-text{
    color: black !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    text-align: left;
}
.avatar-upload .avatar-edit input {
    display: none;
}
.mat-form-field-infix{
    padding: 0px !important;
}
.example-tab-icon {
    margin-right: 8px;
  }