.mat-select{
    padding-bottom: 10px !important;
}
.datepicker{
    margin-left: -11px !important;
    margin-bottom: -9px !important;
}
.image-text{
    color: black !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    text-align: left;
}
.avatar-upload .avatar-edit input {
    display: none;
}
.mat-form-field-infix{
    padding: 0px !important;
}
.example-tab-icon {
    margin-right: 8px;
  }
.hd-add, .right-text {
    display:inline;
}
.right-text {
    color: #6CB43B;
    font-size: 15px;
}

.example-radio-group {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  .example-radio-group-label{
      font-weight: bold;
      padding-top: 5px;
      font-size: larger;
  }
  .example-full-width {
    width: 50%;
  }