<app-navbar>
  <div class="bg-white">
  <div class="hd flex flex-wrap overflow-hidden">
  
    <div class="org overflow-hidden lg:w-1/2 xl:w-1/2 md:mr-48 sm:w-4/6 lg:mr-8 mt-2 h-12">
      Background Verification Search List
    </div>
    <form  class="login-form " [formGroup]="searchForm"  novalidate>
      <div class="flex flex-wrap ">
          <div class="w-auto md:w-1/6 sm:w-auto">
              <mat-form-field class="example-form-field">
                  <mat-label>Name</mat-label>
                  <input  matInput formControlName="firstName"  type="text"  class="br-btm input-w " autoComplete='off' >
              </mat-form-field>
          </div>
          <div class="w-full md:w-1/6 sm:w-full">
              <mat-form-field class="example-form-field">
                  <mat-label>Date Of Birth</mat-label>
                  <input  matInput formControlName="dateOfBirth"  type="text"  class="br-btm input-w" autoComplete='off' placeholder="dd/mm/yyyy">
              </mat-form-field>
          </div>
          <div class="w-full md:w-1/6 sm:w-full">
              <mat-form-field class="example-form-field">
                  <mat-label>Phone Number</mat-label>
                  <input  matInput formControlName="phoneNumber"  type="text"  class="br-btm input-w" autoComplete='off' >
              </mat-form-field>
          </div>
          <div class="w-full md:w-1/6 sm:w-full">
              <mat-form-field class="example-form-field">
                  <mat-label>Email ID</mat-label>
                  <input  matInput formControlName="email"  type="text"  class="br-btm input-w" autoComplete='off' >
              </mat-form-field>
          </div>
          <div class="w-full md:w-1/6 sm:w-full">
              <mat-form-field class="example-form-field">
                  <mat-label>Aadhaar Card No.</mat-label>
                  <input  matInput formControlName="adharNumber"  type="text"  class="br-btm input-w" autoComplete='off' >
              </mat-form-field>
          </div>
           
          <div class="w-full md:w-1/6 sm:w-full pt-5">
            <button mat-raised-button class="bg-black text-white rounded inline-flex items-center" (click)="search()"><mat-icon>search</mat-icon></button> 
        </div>
      </div>
    </form>
  </div>
  
  <div class="mat-elevation-z8 data-table">
    <table mat-table [dataSource]="dataSource" class="full-width-table"  aria-label="Elements">
      
      <!-- Name Column -->
      
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef >Name</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.firstName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="orgName">
        <mat-header-cell *matHeaderCellDef >Organization Name</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.organizationName}}</mat-cell>
      </ng-container>
  
      <!-- Email -->
      <ng-container matColumnDef="dob">
        <mat-header-cell *matHeaderCellDef >Date Of Birth</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.dateOfBirth | date :'dd/MM/yyyy'}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="contact">
        <mat-header-cell *matHeaderCellDef >Phone Number</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.phoneNumber}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef >Email ID</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="adharno">
        <mat-header-cell *matHeaderCellDef >Aadhar Card Number</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.adharNumber}}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef class="flex justify-center">Action</mat-header-cell>
        <mat-cell *matCellDef="let row">	<a [routerLink]="['/bgv-view/',row._id]"><span class="action" ><span class="bg-black text-white pt-2 pb-2 pl-2 pr-2 mr-0.5">View</span></span>{{row.action}}</a></mat-cell>
        <!-- <mat-cell *matCellDef="let row">	<a [routerLink]="['/bgv-view/',row._id]"><span class="bg-black text-white pt-2 pb-2 pl-2 pr-2 mr-10">sssss</span>{{row.action}}</a></mat-cell> -->

      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="flex justify-center"></mat-header-cell>
        <!-- <mat-cell *matCellDef="let row">	<a [routerLink]="['/bgv-view/',row._id]"><span class="action" ><span class="bg-black text-white pt-2 pb-2 pl-2 pr-2 mr-0.5">View</span></span>{{row.action}}</a></mat-cell> -->
        <mat-cell *matCellDef="let row">	<a [routerLink]="['/bgv-view/',row._id]"><span class="bg-black text-white pt-2 pb-2 pl-2 pr-2 mr-10">send bgv</span>{{row.action}}</a></mat-cell>

      </ng-container>
  
      
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"   > 
        </mat-row>
        <div class="p-4" *matNoDataRow>
          <p>No data matching the filter </p>
        </div>
       
      </table>
      <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
    </div>
    </div>
  </app-navbar>
  
  