<table style="width:100%">
  <caption>Merit-Quality</caption>
  <tr>
    <th>Communication Skills</th>
    <th>Industry / Domain Knowledge</th>
  </tr>
  <tr>
    <td>{{communicationSkills}}</td>
    <td>{{industryKnowledge}}</td>
  </tr>
  <tr>
    <th>Product Understanding</th>
    <th>Subject Matter Expertise (SME)</th>
  </tr>
  <tr>
    <td>{{productKnowledge}}</td>
    <td>{{subMatter}}</td>
  </tr>
  <tr>
    <th>Key Skills</th>
    <th>Would you rehire this ex-employee in the future?</th>
  </tr>
  <tr>
    <td>{{keyskills}}</td>
    <td>{{rehireAgain}}</td>
  </tr>
</table>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </div>
