<app-navbar>
  <div class="pt-4 lg:pl-40 lg:pr-20 pl-6 md:pl-6 bg-white pb-10">
      <h1 class="hd-add">Our Organization Information</h1>
  <div class="flex flex-wrap mt-12">
      <div class="lg:w-1/3 sm:w-full pl-10 pb-6">
          <div class="br-about lg:p-2">
            <div class="flex justify-between border-btm">
              <div class="-mt-8 ml-3">
                <mat-icon class="p-4 pl-6 ins-icon">people</mat-icon>
                <p class="text-xl pt-4">Our Ex Employee’s Count</p>
              </div>
              <div>
                
                <p class="mt-6 text-2xl">{{employeeCount }} </p> 
              </div>
            </div>
           </div>
      </div>
      <div class="lg:w-1/3 sm:w-full pl-10 pb-6">
        <div class="br-about lg:p-2">
          <div class="flex justify-between border-btm">
            <div class="-mt-8 ml-3">
              <mat-icon class="p-4 pl-6 ins-icon">school</mat-icon>
              <p class="text-xl pt-4">Total Candidates</p>
            </div>
            <div>
              
              <p class=" text-2xl">{{candidateCount}}</p> 
            </div>
          </div>
          
           
        </div>
      </div>
      <div class="lg:w-1/3  sm:w-full pl-10 pb-6">
        <div class="br-about lg:p-2">
          <div class="flex justify-between border-btm">
            <div class="-mt-8 ml-3">
              <mat-icon class="p-4 pl-6 ins-icon">domain</mat-icon>
              <p class="text-xl pt-4">Scandidate Search Count</p>
            </div>
            <div>
              
              <p class="text-3xl">{{bgvCount}}</p> 
            </div>
          </div>
          
           
        </div>
      </div>
  </div>
  <!-- 
  <div class="flex flex-wrap mt-12">
      <div class="lg:w-1/2 sm:w-1 lg:pl-10">
          <h4 class="sub-hd-size">Organization Onboarding Trend</h4>
      <div style="display: block;" class="br-about">
        <div id="chart-container">
          <canvas #myCanvas id="canvas" baseChart [chartType]="chartType" [datasets]="chartData" [labels]="chartLabels" [colors]="chartColors" [options]="chartOptions"></canvas>
        </div>
      </div>
      </div>
      <div class="lg:w-1/2 sm:w-1 lg:pl-10">
      <h4 class="sub-hd-size">Institution Onboarding Trend</h4>
      <div style="display: block" class="br-about">
        <div id="chart-container1">
          <canvas #myCanvas1 id="canvas1" baseChart [chartType]="chartType1" [datasets]="chartData1" [labels]="chartLabels1" [colors]="chartColors1" [options]="chartOptions1"></canvas>
        </div>
        </div>
      </div>
  </div> -->
  </div>
  </app-navbar>