<app-navbar>
    <div class="hd flex flex-wrap overflow-hidden sm:p-0">
        <div class="org lg:w-1/3 xl:w-1/6 sm:w-4/6 lg:mr-8 mt-2">Our Ex-Employees (Feedback)</div>
        <div class="search-box lg:w-4/12 lg:-ml-4 lg:mt-0 xl:w-1/4 xl:ml-56 md:w-2/4 md:ml-40 md:-mt-8 sm:w-4/6">
          <div class="pt-2 relative mx-auto mr-5 text-black-600" >
             <input class="border-2 border-black bg-white h-10 px-5 w-64 rounded-lg text-sm focus:outline-none"
               type="search" name="search" placeholder="Search" (keyup)="applyFilter($event.target.value)" #input>    
           </div>
       </div>
      <div class="add1 overflow-hidden lg:w-1/6 lg:mt-0 lg:ml-0 xl:w-1/6 xl:ml-32 md:w-1/5 md:-mt-8 md:-ml-8 sm:w-5/12">
        <a [routerLink]="['/add-candidate']" *ngIf="logiuser =='admin'"><button mat-raised-button class="add py-2 px-4 bg-black text-white rounded inline-flex items-center"><mat-icon>add</mat-icon>Add</button></a> 
      </div>
    </div>
    <div class="mat-elevation-z8 data-table">
    <table mat-table [dataSource]="dataSource" matSort class="full-width-table">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Employee Name </th>
      <td mat-cell *matCellDef="let element">
       <span class="mobile-label">
         Employee Name
       </span>{{element.firstName}} {{element.lastName}}
       </td>
    </ng-container>
  
    <!-- Cand id Column -->
    <ng-container matColumnDef="phone_number">
      <th mat-header-cell *matHeaderCellDef> Phone Number</th>
      <td mat-cell *matCellDef="let element">
        <span class="mobile-label">
          Phone Number
        </span>
        {{element.phoneNumber}} </td>
    </ng-container>
  
    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element">
        <span class="mobile-label">
          Email
        </span>
        {{element.email}} </td>
    </ng-container>
  
    <!-- Contact Column -->
    <ng-container matColumnDef="dateOfJoining">
      <th mat-header-cell *matHeaderCellDef> Date Of Joining </th>
      <td mat-cell *matCellDef="let element">
        <span class="mobile-label">
         Date Of Joining
        </span>
        {{element.dateOfJoining | date:'dd-MM-yyyy'}} </td>
    </ng-container>

    <!-- DOB Column -->
    <ng-container matColumnDef="dateofexit">
        <th mat-header-cell *matHeaderCellDef> Date Of Exit </th>
        <td mat-cell *matCellDef="let element">
          <span class="mobile-label">
            Exit Date
          </span>
          {{element.exitDate | date:'dd-MM-yyyy'}} </td>
      </ng-container>


      <!-- experience Column -->
      <ng-container matColumnDef="experience">
        <th mat-header-cell *matHeaderCellDef> Experience </th>
        <td mat-cell *matCellDef="let element">
          <span class="mobile-label">
            Experience
          </span>
          {{element.professionalExperience}}</td>
      </ng-container>

      <!-- status Column -->
      
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element" >
          <span class="mobile-label">
            Status
          </span>
          <span class="pt-2 pb-2 pl-4 pr-4 w-24 text-center text-white text-bold capitalize" [ngStyle]="{'background-color':element.status == true ? '#6CB43B' : '#3f51b5' }">
          <!-- {{element.status == true ? "Completed":"Initiated – HR"}}</span> -->
          <!-- {{element.status == true ? "Completed":"Initiated – HR"}} -->
        <span class="complete"  *ngIf="element.status == true">

        <span> Completed</span> 
        </span>
        <span *ngIf="element.status == false && !element.assignedId">
        <span>  Initiated – HR</span>
         </span>
                  <span class="assign" *ngIf="element.status == false && element.assignedId">
                    <span> Assigned</span>
                              </span>
        </span>
        
        </td>
      </ng-container>

      <ng-container matColumnDef="action" >
        <th mat-header-cell *matHeaderCellDef >Action</th>
        <td mat-cell *matCellDef="let row">
          <span class="mobile-label">
            Action
          </span>
          <a [routerLink]="['/add-candidate/',row._id]" *ngIf="row.status == true"><mat-icon class="action" (click)=edit(row._id)><span class="bg-black text-white p-1 cursor-pointer mr-10">edit</span></mat-icon>{{row.action}}</a>
          <a [routerLink]="['/add-candidate/',row._id]" *ngIf="row.status == false"><mat-icon class="action" (click)=saveRow(row._id) ><span class="bg-black text-white p-1 cursor-pointer mr-10">border_color</span></mat-icon>{{row.action}}</a>
        </td>
      </ng-container>

     

      <ng-container matColumnDef="actions">
        <!-- <mat-header-cell *matHeaderCellDef>Mail</mat-header-cell> -->
      
          <th mat-header-cell *matHeaderCellDef  >
            <div *ngIf="logiuser =='admin'">   Mail </div>
          </th>

       
        <!-- <th mat-header-cell *matHeaderCellDef mat-sort-header >Mail</th> -->

        <td mat-cell *matCellDef="let row">
          <span class="mobile-label">
            Mail
          </span>
          <a class="" style="width: 100%;" (click)="forwordToLinemanager(row)" *ngIf="row.status == false && logiuser =='admin'">
            <span class="forwardd" >
              <mat-icon class="ico">forward</mat-icon>
              Forward</span>
          </a>
          <a class="seend" (click)="showBGVReport(row._id)" *ngIf="row.status == true">
            <span class="bg-black text-white pt-2 pb-2 pl-1  pr-1 " >
              <span class="material-icons">
                email
                </span>Send Feedback</span>
          </a>
        </td>   
        <!-- <td mat-cell *matCellDef="let row">
          <a *ngIf="row.status == false">
            <span class="bg-black text-white pt-2 pb-2 pl-1  pr-1 " >LineManager</span>
          </a>
        </td> -->
        <!-- <mat-cell *matCellDef="let row">
          <a (click)="showBGVReport(row._id)"><span class="bg-black text-white pt-2 pb-2 pl-1  pr-1 " >Send BGV Report</span></a>
        </mat-cell> -->
  
        </ng-container>
      
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <div class="p-4" *matNoDataRow>
      <p>No data matching the filter</p>
    </div>
    
  </table>
  <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
  </div>
  </app-navbar>
