<app-navbar>
    <div class="hd flex flex-wrap overflow-hidden sm:p-0">
        <div class="org overflow-hidden lg:w-1/3 xl:w-1/6 md:mr-48 sm:w-4/6 lg:mr-8 mt-2">Employee List</div>
        <div class="lg:w-4/12 lg:-ml-4 lg:mt-0 xl:w-1/4 xl:ml-56 md:w-2/4 md:ml-40 md:-mt-8 sm:w-4/6">
          <div class="pt-2 relative mx-auto mr-5 text-black-600" >
             <input class="border-2 border-black bg-white h-10 px-5 w-64 rounded-lg text-sm focus:outline-none"
               type="search" name="search" placeholder="Search" (keyup)="applyFilter($event.target.value)" #input>    
           </div>
       </div>
      <div class="add1 overflow-hidden lg:w-1/6 lg:mt-0 lg:ml-0 xl:w-1/6 xl:ml-32 md:w-1/5 md:-mt-8 md:-ml-8 sm:w-5/12">
        <a [routerLink]="['/add-candidate']"><button mat-raised-button class="add py-2 px-4 bg-black text-white rounded inline-flex items-center"><mat-icon>add</mat-icon>Add</button></a> 
      </div>
    </div>
    <div class="mat-elevation-z8 data-table">
    <table mat-table [dataSource]="dataSource" matSort class="full-width-table">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}} </td>
    </ng-container>
  
    <!-- Cand id Column -->
    <ng-container matColumnDef="phone_number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number</th>
      <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
    </ng-container>
  
    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
    <!-- Contact Column -->
    <ng-container matColumnDef="dateOfJoining">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Of Joining </th>
      <td mat-cell *matCellDef="let element"> {{element.dateOfJoining | date:'dd-MM-yyyy'}} </td>
    </ng-container>

    <!-- DOB Column -->
    <ng-container matColumnDef="dateofexit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Of Exit </th>
        <td mat-cell *matCellDef="let element"> {{element.exitDate | date:'dd-MM-yyyy'}} </td>
      </ng-container>


      <!-- experience Column -->
      <ng-container matColumnDef="experience">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Experience </th>
        <td mat-cell *matCellDef="let element"> {{element.professionalExperience}}</td>
      </ng-container>

      <!-- status Column -->
      
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>>
        <td mat-cell *matCellDef="let element" ><span class="pt-2 pb-2 pl-4 pr-4 w-24 text-center text-white text-bold capitalize" [ngStyle]="{'background-color':element.status == true ? '#6CB43B' : '#3f51b5' }">{{element.status == true ? "Completed":"In-Process"}}</span></td>>
      </ng-container>

      <ng-container matColumnDef="action" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header >Action</th>
        <td mat-cell *matCellDef="let row">
          <a [routerLink]="['/add-candidate/',row._id]" *ngIf="row.status == true"><mat-icon class="action" (click)=edit(row._id) ><span class="bg-black text-white p-1 cursor-pointer mr-10">edit</span></mat-icon>{{row.action}}</a>
          <a [routerLink]="['/add-candidate/',row._id]" *ngIf="row.status == false"><mat-icon class="action" (click)=saveRow(row._id) ><span class="bg-black text-white p-1 cursor-pointer mr-10">border_color</span></mat-icon>{{row.action}}</a>
        </td>
      </ng-container>
      
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <div class="p-4" *matNoDataRow>
      <p>No data matching the filter</p>
    </div>
    
  </table>
  <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
  </div>
  </app-navbar>
