<div class="w-full p-2 br-about">
    <app-navbar></app-navbar>
</div>
<div class="pt-16 lg:pl-64 pl-12 md:pl-48">
<form  class="login-form">
    <h1 class="hd-add">Add User</h1>
    <div class="flex flex-wrap sm:flex-wrap mt-8">
        <div class="w-1/4 ">
            <div class="group-gap">
                <button  (click)="fileInput.click()">
                   <div class="avatar-upload">
                    <div class="avatar-edit">
                        <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput (change)="uploadFile($event)" />
                    </div>
                    <div class="avatar-preview w-32 h-32 lg:ml-32 lg:mt-4 -ml-8 mt-2 border-2 border-transparent">
                        <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'" ><mat-icon>camera_enhance</mat-icon></div>
                    </div>
                </div>
                </button>
            </div>
            
        </div>
        <div class="w-3/4">
            <mat-form-field class=" lg:ml-12 sm:ml-10">
                <mat-label>About Me</mat-label>
                <textarea  matInput name="caddress" class="br-about" rows="8" autoComplete='off'></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="flex flex-wrap">
        <div class="w-full md:w-1/2 sm:w-full">
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input  matInput type="text"    name="fname"  required  class="br-btm input-w" autoComplete='off'>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input  matInput   type="text"  name="lname"  required  class="br-btm input-w" autoComplete='off'>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Employee ID</mat-label>
                <input  matInput   type="text"  name="eid"  required  class="br-btm input-w" autoComplete='off'>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Parament Address</mat-label>
                <textarea  matInput name="paddress" class="br-txtarea input-w" rows="6" autoComplete='off'></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Select Role</mat-label>
                <mat-select  class="br-btm input-w">
                  <!-- <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option> -->
                  <mat-option value="ad">Admin</mat-option>
                  <mat-option value="us">User</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Organization</mat-label>
                <mat-select   class="br-btm input-w">
                  <!-- <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option> -->
                  <mat-option value="ar">Aroha Technologies</mat-option>
                  <mat-option value="dv">Dvara</mat-option>
                  <mat-option value="wi">Wipro</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Associated ops user institution/organization</mat-label>
                <mat-select  class="br-btm input-w">
                  <!-- <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option> -->
                  <mat-option value="yes">Yes</mat-option>
                  <mat-option value="no">No</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="w-full md:w-1/2 sm:w-full">
            <mat-form-field>
                <mat-label>DOB</mat-label>
                <input matInput [matDatepicker]="picker2" class="br-btm input-w">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 color="primary"></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input  matInput   type="text"  name="email"    class="br-btm input-w" autoComplete='off'>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Contact</mat-label>
                <input  matInput   type="text"  name="contact"  required  class="br-btm input-w" autoComplete='off'>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Current Address</mat-label>
                <textarea  matInput name="caddress" class="br-txtarea input-w" rows="6" autoComplete='off'></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Status</mat-label>
                <mat-select   class="br-btm input-w">
                  <mat-option value="active">Active</mat-option>
                  <mat-option value="inactive">InActive</mat-option>
                  <mat-option value="delete">Delete</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Inistution</mat-label>
                <mat-select  class="br-btm input-w">
                  <!-- <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option> -->
                  <mat-option value="a">Svce,Tirupati</mat-option>
                  <mat-option value="b">JNTU,Anathapur</mat-option>
                  <mat-option value="c">Sv Universcity</mat-option>
                </mat-select>
            </mat-form-field>
            
        </div>
    </div>
    <div class="flex justify-end lg:pb-6 lg:pr-48">
        <a routerLink="/users-list"><button class="lg-button focus:outline-none focus:shadow-outline mr-12" type="button">
          Cancle
        </button></a>
        <button class="lg-button focus:outline-none focus:shadow-outline" type="button" (click)="openDialog()">
          Submit
        </button>
    </div>
</form>
</div>