<app-navbar>
    <div class="pt-16 lg:pl-64 pl-12 md:pl-48 bg-white">
            <form class="login-form" [formGroup]="studentForm"  novalidate>
              <h1 class="hd-add pb-6">Student Form</h1>
              <div class="flex flex-wrap">
                <div class="w-full md:w-1/2 sm:w-full">
                  <mat-form-field>
                    <mat-label>First Name</mat-label>
                    <input  matInput formControlName="firstName"  type="text"  required  class="br-btm input-w" autoComplete='off' >
                    <mat-error *ngIf ="studentForm.get('firstName').errors?.required">
                        Required first Name.
                    </mat-error>
                    <mat-error *ngIf ="studentForm.get('firstName').errors?.minlength">
                         Name must be at least 5 characters long.
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Last Name</mat-label>
                    <input  matInput formControlName="lastName"  type="text"  class="br-btm input-w" autoComplete='off' >
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Roll No</mat-label>
                    <input  matInput formControlName="roll"  type="text"  class="br-btm input-w" autoComplete='off' >
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input  matInput formControlName="email"  type="text"  required  class="br-btm input-w" autoComplete='off' >
                    <mat-error *ngIf ="studentForm.get('email').errors?.required">
                      Required email address
                    </mat-error>
                    <mat-error *ngIf ="studentForm.get('email').errors?.email">
                      Enter a valid email address
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Phone Number</mat-label>
                    <input  matInput   type="text"  formControlName="phoneNumber"  required  class="br-btm input-w" autoComplete='off' pattern="^[0-9]{10}$">
                    <mat-error *ngIf ="studentForm.get('phoneNumber').errors?.required">
                        Required phone number.
                    </mat-error>
                    <mat-error *ngIf="!studentForm.get('phoneNumber').errors?.required && studentForm.get('phoneNumber').errors?.pattern">
                        Please enter valid mumber
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Institution Name</mat-label>
                    <input  matInput   type="text"  formControlName="intitutionName"  required  class="br-btm input-w" autoComplete='off'>
                    <mat-error *ngIf ="studentForm.get('intitutionName').errors?.required">
                        Required IntitutionName.
                    </mat-error>
                  </mat-form-field>
                <mat-form-field>
                  <mat-label>Aadhar Number</mat-label>
                  <input  matInput   type="text"  formControlName="adharNumber"  required  class="br-btm input-w" autoComplete='off' pattern="^[0-9]{12}$">
                  <mat-error *ngIf ="studentForm.get('adharNumber').errors?.required">
                      Required Aadhar number.
                  </mat-error>
                  <mat-error *ngIf="!studentForm.get('adharNumber').errors?.required && studentForm.get('adharNumber').errors?.pattern">
                      Please enter valid number
                  </mat-error>
              </mat-form-field>
                  
                  <mat-form-field>
                    <mat-label>Extra activities</mat-label>
                    <input matInput placeholder="Input" style="display: none" >
                    <mat-radio-group aria-label="Select an option" formControlName="extraActivity" (change)="activities($event)">
                      <mat-radio-button value="1">Yes</mat-radio-button>
                      <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>
                  </mat-form-field>
                  <mat-form-field *ngIf="extraActivities">
                    <mat-label> Document Name</mat-label>
                    <input  matInput formControlName="extraActivityDocumentName"  type="text" class="br-btm input-w" autoComplete='off' >
                  </mat-form-field>
                  
                    <div class="group-gap" *ngIf="extraActivities">
                      <div class="avatar-upload">
                          <div class="avatar-edit">
                            <label class="image-text">Documents Upload</label>
                              <input type='file' placeholder="Upload Document" id="imageUpload" accept=".pdf"  #extraActivityDocumentLink (change)="uploadFile($event.target.files)" />
                              <div id="imagePreview">{{this.documentName}}</div>
                            </div>
                      </div>
                      <button mat-button  (click)="extraActivityDocumentLink.click()">
                          <mat-icon>file_upload</mat-icon>
                      </button>
                  </div>
                </div>
                <div class="w-full md:w-1/2 sm:w-full">
                  <mat-form-field>
                    <mat-label>Name of course</mat-label>
                    <input  matInput formControlName="nameOfCourse"  type="text"  required  class="br-btm input-w" autoComplete='off' >
                    <mat-error *ngIf ="studentForm.get('nameOfCourse').errors?.required">
                      Required course Name 
                    </mat-error>
                    
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Student Type</mat-label>
                    <input matInput placeholder="Input" style="display: none" required>
                    <mat-radio-group formControlName="studentType" required>
                      <mat-radio-button value="regular">Regular</mat-radio-button>
                      <mat-radio-button value="correspondance">Correspondance</mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf ="studentForm.get('studentType').errors?.required">
                      Required Student Type
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Year of Joining</mat-label>
                    <input  matInput formControlName="yearOfJoining" required type="text"  class="br-btm input-w" autoComplete='off' pattern="^[0-9]{4}$">
                    <mat-error *ngIf ="studentForm.get('yearOfJoining').errors?.required">
                      Required Year of joining  
                    </mat-error>
                    <mat-error *ngIf="studentForm.get('yearOfJoining').hasError('requiredFromDate')">Joining year should be less than Passout year</mat-error>   
                    <mat-error *ngIf="!studentForm.get('yearOfJoining').errors?.required && studentForm.get('yearOfJoining').errors?.pattern">
                      Please enter valid year
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Year of Passing</mat-label>
                    <input  matInput formControlName="yearOfPassout" required  type="text"   class="br-btm input-w" autoComplete='off' pattern="^[0-9]{4}$">
                    <mat-error *ngIf ="studentForm.get('yearOfPassout').errors?.required">
                      Required Year of passedout 
                    </mat-error>
                    <mat-error *ngIf="studentForm.get('yearOfPassout').hasError('requiredToDate')"> Passout Year should be grater than joining Year</mat-error>
                    <mat-error *ngIf="!studentForm.get('yearOfPassout').errors?.required && studentForm.get('yearOfPassout').errors?.pattern">
                      Please enter valid year
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Address</mat-label>
                    <input  matInput formControlName="address"  type="text"   class="br-btm input-w" autoComplete='off' >
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>No of Education Documents</mat-label>
                    <input  matInput formControlName="noOfEductionalDocuments"  type="text"  class="br-btm input-w" autoComplete='off' pattern="^[0-9]$">
                    <mat-error *ngIf="studentForm.get('noOfEductionalDocuments').errors?.pattern">
                      Please enter valid number
                    </mat-error>
                  </mat-form-field>
                  <div class="group-gap">
                    <div class="avatar-upload">
                        <div class="avatar-edit">
                          <label class="image-text">Documents Upload</label>
                            <input type='file' accept=".pdf"   #EducationDocument (change)="uploadEducationFile($event)" multiple/>
                            <div id="imagePreview" *ngIf="imagePreview">{{this.documentCount}} files uploaded</div>
                          </div>
                    </div>
                    <button mat-button  (click)="EducationDocument.click()">
                        <mat-icon>file_upload</mat-icon>
                    </button>
                </div>
                </div>
              </div>
              <div class="flex justify-end lg:pb-6 lg:pr-48">
                <a routerLink="/student-list"><button class="lg-button focus:outline-none focus:shadow-outline mr-12" type="button">
                  Cancle
                </button></a>
                <button class="lg-button focus:outline-none focus:shadow-outline" type="submit" (click)=submit() *ngIf="!id" >
                  Submit
                </button>
                <button class="lg-button focus:outline-none focus:shadow-outline" (click)=update(id)  *ngIf="id" >
                    update
                  </button>
              </div>
            </form>
    </div>
    </app-navbar>