@media (min-width:768px){

}

@media (min-width:1024px){
    .secondcol{
      padding-left: 90px;
    }
    .oopsuser{
        padding-left: 290px;
    }
}
@media (min-width:1440px){
    .secondcol{
      padding-left: 96px;
    }
}
@media (min-width:768px){
    .secondcol{
        padding-left: 96px;
      }
      input.mat-input-element{
        margin-top: 0.9375em;
      }
      .mat-select {
        margin-top: 0.9375em;
      }
}
@media (min-width:320px) and (max-width: 561px){
    .mat-form-field{
        display: flex;
        margin-left: 71px;
      }
      input.mat-input-element{
        margin-top: 0.9375em;
      }
      .mat-select {
        margin-top: 0.9375em;
      }
      .hd-add{
        margin-left: 44px;
      }
      .lg-button{
        width: 106px;
        margin-right: 15px;
      }
}
