
<app-navbar>
<div class="pt-16 lg:pl-64 pl-12 md:pl-48 bg-white">
<form  class="login-form" [formGroup]="organizationForm"  novalidate>
    <h1 class="hd-add">Add Organization</h1>
    <div class="flex flex-wrap">
        <div class="w-full md:w-1/2 sm:w-full">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input  matInput formControlName="organizationName"  type="text"  required  class="br-btm input-w" autoComplete='off' >
            </mat-form-field>
            <mat-form-field>
                <mat-label>Contact Person Name</mat-label>
                <input  matInput  formControlName="contactPersonName"  type="text"    required  class="br-btm input-w" autoComplete='off'>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Address</mat-label>
                <input  matInput   type="text"  formControlName="organisationAddress"  required  class="br-btm input-w" autoComplete='off'>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input  matInput  type="text"  formControlName="organisationEmail"  required  class="br-btm input-w" autoComplete='off'>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Postal Code</mat-label>
                <input  matInput  type="text"  formControlName="organisationZIP"  required  class="br-btm input-w" autoComplete='off'>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea  matInput formControlName="organisationDescription" class="br-btm input-w" autoComplete='off'></textarea>
            </mat-form-field>
            <div class="group-gap">
                <div class="avatar-upload">
                    <div class="avatar-edit">
                        <input type='file'  required id="imageUpload" accept=".png,.jpeg"   #logoLink (change)="uploadFile($event.target.files)" />
                    </div>
                    <div class="avatar-preview">
                        <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'"></div>
                    </div>
                </div>
                <button mat-button  (click)="logoLink.click()">
                    <mat-icon>file_upload</mat-icon>
                     Upload Logo
                </button>
            </div>
        </div>
        <div class="w-full md:w-1/2 sm:w-full">
            <mat-form-field>
                <mat-label>Code</mat-label>
                <input  matInput type="text"  formControlName="code"  required  class="br-btm input-w" autoComplete='off'>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Contact</mat-label>
                <input  matInput   type="text"  formControlName="contact"    class="br-btm input-w" autoComplete='off'>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Type</mat-label>
                <input  matInput   type="text"  formControlName="organisationType"  required  class="br-btm input-w" autoComplete='off'>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Size</mat-label>
                <input  matInput   type="number"  formControlName="organisationEmployeeSize"  required  class="br-btm input-w" autoComplete='off'>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Active Form</mat-label>
                <!-- <input  matInput  type="text"  formControlName="activeform"  required  class="br-btm input-w" autoComplete='off'> -->
                <input matInput [matDatepicker]="picker2" [min]="minDate" 
                [max]="maxDate" formControlName="organisationActiveFrom"  class="br-btm input-w">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 color="primary"></mat-datepicker>
            </mat-form-field>
            <mat-form-field *ngIf ="id">
                <mat-label>Status</mat-label>
                <mat-select class="br-btm input-w" formControlName="status">
                  <mat-option  [value]= true>Active</mat-option>
                  <mat-option  [value]= false>Inactive</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="flex justify-end lg:pb-6 lg:pr-48">
        <a routerLink="/organization-list"><button class="lg-button focus:outline-none focus:shadow-outline mr-12" type="button">
          Cancel
        </button></a>
        <button class="lg-button focus:outline-none focus:shadow-outline" type="submit" (click)=submit() *ngIf="!id" >
          Submit
        </button>
        <button class="lg-button focus:outline-none focus:shadow-outline" (click)=update(id) *ngIf="id" >
            update
          </button>
    </div>
</form>
</div>
</app-navbar>