@media screen and (max-width: 960px) {

    }
    
    .header
    {
        background-color: rgb(108, 180, 59);
    }
    h1{
        color: rgb(108, 180, 59);
    }
     button
    {
        font-size: small;
        color: black !important;
    }
    .logo{
        width:300px;
        height:120px;
    }
    .logo1{
        width:150px;
        height:100px;
    }
    h5{
        color: rgb(108, 180, 59);
    }
    @media(max-width:320px){
    .scroll{
        overflow-x: scroll !important;
    }
    
}