<app-navbar>
  <div id="contentToConvert" class="max-w-screen-md  mx-auto border border-green-500 text-center py-12 mt-4">
    <h2 class="text-3xl leading-8 font-bold tracking-tight text-black sm:text-4xl sm:leading-10">
        Candidate Details
    </h2>
    <div class="mt-8 flex justify-center">
      <p class="py-4">
      
     </p>
    </div>
   
</div>
<div class="mt-8 flex justify-center text-center">
  <div class="inline-flex rounded-md bg-white shadow">
      <button (click)="convetToPDF()" class="text-gray-700 font-bold py-2 px-6">
         Download Pdf
      </button>
  </div>
</div>
</app-navbar>