<app-navbar>
  <div id="contentToConvert" class="max-w-screen-md bg-white rounded  mx-auto border border-gray-400 text-center py-5  mt-4">
    <h2 class="text-3xl leading-8 font-bold tracking-tight text-black sm:text-4xl sm:leading-8">
        Candidate Details
    </h2>
    <div class="md:flex bg-white rounded-lg p-6">
         <img class="h-20 w-20 md:h-24 md:w-24 rounded-full mx-auto md:mx-0 md:mr-6 md:ml-10" src="avatar.jpg">
         <div class="text-center md:text-left">
           <h2 class="text-lg">Candidate Name</h2>
           <div class="text-green-500"> Engineer</div>
           <div class="text-gray-600">xyz@example.com</div>
           <div class="text-gray-600">23/04/1989</div>
           <div class="text-gray-600">Adhaar No:-499118665246-1707630</div>
           <div class="text-gray-600">(555) 765-4321</div>
         </div>
    </div>
    <hr>
    <div class="md:flex bg-white rounded-lg p-6">
      <div class="text-center md:text-left md:ml-20">
        <h2 class="text-lg">Educational Details</h2>
        <div class="text-green-500">Institution Name:</div>
        <div class="text-gray-600">Name Of Course:</div>
        <div class="text-gray-600">Student Type:</div>
        <div class="text-gray-600">Year Of Joining</div>
        <div class="text-gray-600">Year Of Passing</div>
      </div>
   </div>
   <hr>
    <div class="md:flex bg-white rounded-lg p-6">
      <div class="text-center md:text-left md:ml-20">
        <h2 class="text-lg">Organizational Details</h2>
        <div class="text-green-500">Organization Name:</div>
        <div class="text-gray-600">Name Of Course:</div>
        <div class="text-gray-600">Student Type:</div>
        <div class="text-gray-600">Year Of Joining</div>
        <div class="text-gray-600">Year Of Passing</div>
      </div>
   </div>
    
</div>
<div class="mt-8 flex justify-center text-center">
  <div class="inline-flex rounded-md bg-white shadow">
      <button class="text-green-500 font-bold py-2 px-6">
         Download Pdf
      </button>
  </div>
</div>
</app-navbar>