@media screen and (max-width: 960px) {

    }
    
    .header
    {
        background-color: rgb(108, 180, 59);
    }
    h1{
        color: rgb(108, 180, 59);
    }
     button
    {
        font-size: small;
        
    }
     