.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 235px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
    color: black;
    background-color: rgb(255, 255, 255);
  }
  
  .hidden {
    display: none;
  }
  
  @media (min-width: 760px) {
     .sidenav {
       display: block;
     }
     #drawer {
      transition: margin-left .5s;
      padding: 16px;
     }
  }
  .spacer {
    flex: 1 1 auto;
  }
  
  
  .toggleBtn{
    display: block !important;
  }
  
  
  .dropdown .hover{
    background-color: rgb(127, 255, 0);
    color: white;
  }
  
  .close {
    float: right;
    cursor: pointer;
  }
  .mat-nav-list {
    margin-top: 50px;
  }
  .space {
    padding-right: 29px;
  }
  
  