<mat-toolbar color="primary">
    <img width="25" src="./../../../assets/images/logo1.png" />
    <span class="spacer"></span>
    <ul class="flex flex-row items-end">
        <li class="md:pr-10 pr-1 md:text-2xl text-xs"><a routerLink="/landing-page" > Home </a></li>
        <li class="md:pr-10 pr-1 md:text-2xl text-xs"><a routerLink="/why-scandidate">Why?</a></li>
        <li class="md:pr-10 pr-1 md:text-2xl text-xs"><a routerLink="/for-organization">ForOrganization</a></li>
        <li class="md:pr-10 pr-1 md:text-2xl text-xs"><a routerLink="/about-us" class="active">AboutUs</a></li>
    </ul>
    <a
      class="button"
      aria-label="Example icon-button with share icon"
      routerLink="/login"
    >
      Partner Login
    </a>
  </mat-toolbar>
  <section class="p-5">
    <div class="container mx-auto">
      <p class="leading-relaxed text-3xl font-bold leading-tight text-center">
        Awards & Association
      </p>
      <p class="text-justify text-2xl p-2 leading-tight">
        Incubated Under Atal Innovation Center – Banasthali
      </p>
      <p class="text-justify text-2xl p-2 leading-tight">Winner Of WE HACK 2020</p>
      <p class="text-justify text-2xl p-2 leading-tight">Grant Awarded By MEITY Under The Entrepreneur-In-Residence Program</p>
    </div>
  </section>
  <section class="section-background pt-5" >
    <div class="container mx-auto">
      <p class="leading-relaxed text-3xl font-bold leading-tight text-center">
        Core Team
      </p>
      <br />
      <p class="leading-relaxed text-2xl leading-tight text-center">We are determined to help bring about a paradigm shift in the way organizations hire to relieve the pain points the entire industry is facing on a daily basis when it comes to recruiting “right”. We are passionate about #HigherHiring
        </p>
      <div
        class="grid lg:grid-cols-2 xl:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 gap-4"
      >
        <div
          class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow p-3"
        >
          <h6 class="pad text-center" ><span class="circle">
              <!-- <img src="../../../assets/images/team1.jpg" class="circle"> -->
            </span></h6>
          <p class="text-center text-xl font-bold leading-tight">Meenakshi Ginodia I 15 years I Founder & Director </p>
          <h4 class="text-xl p-6">
            Talent Acquisition I Large-scale hiring I C-suite hiring I Domains: BFSI, IT I Business Development I Team management I Negotiations I HR solutions I Employee onboarding and assimilation I Entrepreneurship I HR Generalist I Relationship management I Employee engagement
            
          </h4>
        </div>
        <div
          class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow p-3"
        >
          <h6 class="pad"><span class="circle">
              <!-- <img src="../../../assets/images/team1.jpg" class="circle"> -->
            </span></h6>
          <p class="text-center text-xl font-bold leading-tight">Rajesh Kumar I 25+ years I CTO
          </p>
          <h4 class="text-xl p-6">
            Application building I Data specialist I Creation, consumption, storage, process, security, storytelling and analytics perspectives I Product journey specialist - ideation to MVP to fully functional product I Product enhancements I Market and customer acumen I Startup supporter I Experienced with large organizations and MNCs

          </h4>
        </div>
        <div
          class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow p-3"
        >
          <h6 class="pad"><span class="circle">
              <!-- <img src="../../../assets/images/team1.jpg" class="circle"> -->
        </span></h6>
          <p class="text-center text-xl font-bold leading-tight">Sampath Kumar I 28 years I Advisory 
          </p>
        <h4 class="text-xl p-6">
            Information Technology & Consulting I PeopleSoft practice I Program Management I Business Development I Managing multiple customers in onsite-Offshore model I Consensus building I Setting up Centre of Excellence (COE) I Developing & managing large teams and global accounts I Building high-performance orgs I Process improvement and measurement

        </h4>
        </div>
        <div
          class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow p-3"
        >
          <h6 class="pad"><span class="circle">
              <!-- <img src="../../../assets/images/team1.jpg" class="circle"> -->
            </span></h6>
          <p class="text-center text-xl font-bold leading-tight">Rima Naware I 15 years I Co-founder & Director 
          </p>
        <h4 class="text-xl p-6">
            HR consulting I Domains: IT / ITES / shared service / Media I Product & services environment I Multiple geo HR I  Compensation & benefits I HR strategy and policy I OD & Talent management I Leadership hiring I Employer branding & communications I Culture building I Hire-to-Retire processes

        </h4>
        </div>
      </div>
    </div>
  </section>
  <br />

<mat-toolbar color="primary">
  <p class="text-center">Copyright 2020</p>
</mat-toolbar>
