<mat-toolbar color="primary">
    <img width="45" class="ml-5" src="./../../../assets/images/logo1.png" />
    <span class="spacer"></span>
    <ul class="flex flex-row items-end">
        <li class="md:pr-10 pr-1 md:text-xl text-xs"><a routerLink="/landing-page" > Home </a></li>
        <li class="md:pr-10 pr-1 md:text-xl text-xs"><a routerLink="/why-scandidate">Why?</a></li>
        <li class="md:pr-10 pr-1 md:text-xl text-xs"><a routerLink="/for-organization">For Organization</a></li>
        <li class="md:pr-10 pr-1 md:text-xl text-xs"><a routerLink="/about-us" class="active">About Us</a></li>
    </ul>
    <a
      class="button"
      aria-label="Example icon-button with share icon"
      routerLink="/login"
    >
      Partner Login
    </a>
  </mat-toolbar>
  <section class="section-background font-serif">
    <div class="container mx-auto">
      <p class="leading-relaxed text-2xl font-bold leading-tight text-center pt-3">
        Awards & Association
      </p>
        <div class="grid lg:grid-cols-2 xl:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 gap-1">
            <div class="flex-1 p-4 ml-8 mr-8 mb-2">
              <img src="../../../assets/images/award1.png" class="ml-20">
            </div>
            <div class="flex-1 p-4 mr-20 mb-2">
              <img src="../../../assets/images/award2.png" class="ml-32">
            </div>
          </div>
          <div class="flex justify-center ">
            <div class="p-4 mb-2">
              <img src="../../../assets/images/award3.png">
            </div>
            </div>
        </div>
      </section>
  <section class="section-background font-serif" >
    <div class="container mx-auto">
      <p class="leading-relaxed text-2xl font-bold leading-tight text-center">
        Core Team
      </p>
      <div class="md:flex shadow-lg  md:mx-20 md:mx-full md:my-8 max-w-full md:max-w-full h-62 bg-white rounded justify-around">
        <img class="h-50 w-50 m-10 rounded-full " src="../../../assets/images/meenakshi.jpg">
        <div class="w-full md:w-2/3 px-4 py-4 rounded-lg">
           <div class="flex items-center">
              <h2 class="text-lg text-gray-800 font-medium mr-auto"><b>Meenakshi Ginodia | 15 Yrs | Founder&Director</b></h2>
           </div>
           <p class="text-lg text-black mt-4 p-4 leading-loose text-justify">
            Talent Acquisition | Large-Scale Hiring C- Suit Hiring| Domains:BFSI,IT| Business
            Development | Team Management | Negotiations | HR solutions | Employee onboarding and assimilation | Entrepreneurship | HR Generalist | Relationship management | Employee engagement

           </p>
        </div>
     </div>
     <div class="md:flex shadow-lg  md:mx-20 md:mx-full md:my-8 max-w-full md:max-w-full h-62 bg-white rounded justify-around">
      <div class="w-full md:w-2/3 px-4 py-4 rounded-lg">
         <div class="flex items-center">
            <h2 class="text-lg text-gray-800 font-medium mr-auto"><b>Rajesh Kumar | 25+ years | CTO</b></h2>
         </div>
         <p class="text-lg text-black mt-4 p-4 leading-loose text-justify">
          Application building | Data specialist | Creation, consumption, storage, process, security, storytelling and analytics perspectives | Product journey specialist - ideation to MVP to fully functional product | Product enhancements | Market and customer acumen | Startup supporter | Experienced with large organizations and MNCs

         </p>
      </div>
      <img class="h-50 w-50 m-10 rounded-full " src="../../../assets/images/rajesh.jpg">
   </div>
   <div class="md:flex shadow-lg  md:mx-20 md:mx-full md:my-8 max-w-full md:max-w-full h-62 bg-white rounded justify-around">
    <img class="h-50 w-50 m-10 rounded-full " src="../../../assets/images/rima.jpg">
    <div class="w-full md:w-2/3 px-4 py-4 rounded-lg">
       <div class="flex items-center">
          <h2 class="text-lg text-gray-800 font-medium mr-auto"><b>Rima Naware | 15 years | Co-founder & Director </b></h2>
       </div>
       <p class="text-lg text-black mt-4 p-4 leading-loose text-justify">
        HR consulting I Domains: IT / ITES / shared service / Media | Product & services environment | Multiple geo HR | Compensation & benefits | HR strategy and policy | OD & Talent management | Leadership hiring | Employer branding & communications | Culture building | Hire-to-Retire processes

       </p>
    </div>
 </div>
    </div>
  </section>
  <br />

<mat-toolbar color="primary">
  <p class="text-center">Copyright 2020</p>
</mat-toolbar>
