<app-navbar>
<div class="pt-16 lg:pl-40 pl-12 md:pl-48 bg-white">
<form  class="login-form" [formGroup]="createUserData" >
    <!-- <div class="bg-red-100 border border-red-400 text-red-700 py-3 mb-4 rounded relative" role="alert" *ngIf="error">
        <strong class="font-bold mr-4">Error ::</strong>
        <span class="block sm:inline">{{error}}</span>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
          <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
        </span>
      </div> -->
    <h1 class="hd-add">Add User</h1>
    <div class="flex flex-wrap">
        <div class="w-full md:w-1/2 sm:w-full">
            <mat-form-field>
                <mat-label>System Role</mat-label>
                <mat-select  class="br-btm input-w" formControlName="role" required (selectionChange)="selectedTpe($event)" tabindex="1">
                  <!-- <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option> -->
                  <mat-option value="SCANDIDATE">Scandidate</mat-option>
                  <mat-option value="ORGANIZATION">Organization</mat-option>
                  <mat-option value="INSTITUTION">Institution</mat-option>
                  <mat-option value="HRPARTNER">Hr Partner</mat-option>
                </mat-select>
                <mat-error *ngIf ="createUserData.get('role').errors?.required">
                    Required role.
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Sub Role</mat-label>
                <mat-select  class="br-btm input-w" formControlName="subRole" required tabindex="3">
                  <!-- <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option> -->
                  <mat-option value="ADMIN" *ngIf="((subroleTypeee == 'SCANDIDATE' ||subroleTypeee == 'ORGANIZATION') || (subroleTypeee == 'HRPARTNER') ||  ( subroleTypeee=='INSTITUTZON'))">Admin</mat-option>
                  <mat-option value="OPERATIONAL_USER"  *ngIf="subroleTypeee == 'SCANDIDATE' ">Line Hr</mat-option>
                </mat-select>
                <mat-error *ngIf ="createUserData.get('subRole').errors?.required">
                    Required sub role.
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input  matInput type="text"    name="firstName" formControlName="firstName"  required  class="br-btm input-w" autoComplete='off' tabindex="5">
                <mat-error *ngIf ="createUserData.get('firstName').errors?.required">
                    Required first Name.
                </mat-error>
                <mat-error *ngIf ="createUserData.get('firstName').errors?.minlength">
                    First name must be at least 3 characters long.
                   </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Employee ID</mat-label>
                <input  matInput   type="text"  name="employeeId" formControlName="employeeId" class="br-btm input-w" autoComplete='off' tabindex="7">
            </mat-form-field>           
            
            <mat-form-field>
                <mat-label>DOB</mat-label>
                <input matInput [matDatepicker]="picker2" [max]="today" formControlName="dateOfBirth" class="br-btm input-w" tabindex="9">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 color="primary"></mat-datepicker>
                <mat-error *ngIf ="createUserData.get('dateOfBirth').errors?.required">
                    Required date of birth.
                   </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Current Location</mat-label>
                <input  matInput  type="text" name="currentAddress" formControlName="currentAddress" class="br-btm input-w" autoComplete='off' tabindex="11">
            </mat-form-field>
            <div class="w-1/4 ">
                <div class="group-gap">
                    <button  (click)="avatar.click()">
                       <div class="avatar-upload">
                        <div class="avatar-edit">
                            <!-- <mat-label>Upload User Image</mat-label> -->
                            <input type='file' id="imageUpload" accept=".png, .jpeg,.jpg" #avatar (change)="uploadFile($event.target.files)" />
                        </div>
                        <div class="avatar-preview w-32 h-32 lg:ml-32 lg:mt-4 -ml-8 mt-2 border-2 border-transparent">
                            <div id="imagePreview" [style.backgroundImage]="'url('+ imageUrl +')'" >
                                <mat-icon>camera_enhance</mat-icon>Upload Image
                            </div>
                        </div>
                    </div>
                    </button>
                </div>
                
            </div>
           
        </div>
        <div class="w-full md:w-1/2 sm:w-full" >
            <mat-form-field *ngIf="subroleTypeee == 'SCANDIDATE'">
                <mat-label>Organization</mat-label>
                <input  matInput type="text"  formControlName="scandidateId"  readonly disabled  class="br-btm input-w" autoComplete='off' tabindex="2">
            </mat-form-field>
            <!-- <mat-form-field *ngIf="subroleTypeee == 'HRPARTNER'">
                <mat-label>Organization</mat-label>
                <input  matInput type="text"  formControlName="hrpartnerId"  readonly disabled  class="br-btm input-w" autoComplete='off' tabindex="2">
            </mat-form-field> -->
            <mat-form-field *ngIf="subroleTypeee == 'ORGANIZATION'">
                <mat-label>Organization</mat-label>
                <mat-select   class="br-btm input-w" formControlName="organizationId" tabindex="2">
                  <mat-option *ngFor="let itm of allOrganizations" [value]="itm._id">{{itm.organizationName}}</mat-option>
                </mat-select>
            </mat-form-field>

            <!--HRPARTNER organization list-->
            <mat-form-field *ngIf="subroleTypeee == 'HRPARTNER'">
                <mat-label>Organization</mat-label>
                <mat-select   class="br-btm input-w" formControlName="hrorganisationId" tabindex="2">
                  <mat-option *ngFor="let itm of allHrPartnerOrganization" value="{{itm._id}}">{{itm.hrorganizationname}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="subroleTypeee == 'INSTITUTZON'">
                <mat-label>Institution</mat-label>
                <mat-select   class="br-btm input-w" formControlName="institutionId" tabindex="2">
                  <mat-option *ngFor="let itm of allInstitutions" [value]="itm._id">{{itm.instituteName}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input  matInput   type="text"  name="email"  formControlName="email"  class="br-btm input-w" required autoComplete='off' tabindex="4">
                <mat-error *ngIf ="createUserData.get('email').errors?.required">
                    Required email address.
                </mat-error>
                <mat-error *ngIf ="createUserData.get('email').errors?.email">
                    Enter a valid email address.
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input  matInput   type="text"  name="lastName"  formControlName="lastName" required  class="br-btm input-w" autoComplete='off' tabindex="6">
                <mat-error *ngIf ="createUserData.get('lastName').errors?.required">
                    Required last Name.
                   </mat-error>
                   <mat-error *ngIf ="createUserData.get('lastName').errors?.minlength">
                    Last name must be at least 3 characters long.
                   </mat-error>
            </mat-form-field>
            <div style="display: flex;">
                <mat-form-field style="width: 50px;">
                    <mat-label>Contact</mat-label>
                    <input matInput type="text" name="code" formControlName="countrycode" class="br-btm input-w1" required autoComplete='off' >
                </mat-form-field>
                <mat-form-field>
                    
                    <input  matInput   type="text"  name="contact"  formControlName="phoneNumber" required  class="br-btm input-w" autoComplete='off' pattern="^[0-9]{10}$" tabindex="8">
                <mat-error *ngIf ="createUserData.get('phoneNumber').errors?.required">
                    Required phone number.
                </mat-error>
                <mat-error *ngIf="!createUserData.get('phoneNumber').errors?.required && createUserData.get('phoneNumber').errors?.pattern">
                    Please enter valid number
                </mat-error>
                </mat-form-field> 
            </div>
            <mat-form-field *ngIf="id">
                <mat-label>Status</mat-label>
                <mat-select   class="br-btm input-w" formControlName="status" required tabindex="10">
                  <mat-option [value]="true">Active</mat-option>
                  <mat-option [value]="false">Inactive</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>About User</mat-label>
                <textarea  matInput name="aboutMe" formControlName="aboutMe" class="br-about" rows="8" autoComplete='off'></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="flex justify-end lg:pb-6 lg:pr-48">
        <a routerLink="/users-list"><button class="lg-button focus:outline-none focus:shadow-outline mr-12 mt-24" type="button">
          Cancel
        </button></a>
        <button class="lg-button focus:outline-none focus:shadow-outline mt-24" type="submit" (click)="onSubmit()" *ngIf= "!id">
          Submit
        </button>
        <button class="lg-button focus:outline-none focus:shadow-outline mt-24" type="submit" (click)="onupdate(id)" *ngIf = "id">
            Update
          </button>
    </div>
</form>
</div>
</app-navbar>