<mat-toolbar color="primary">
    <img width="25" src="./../../../assets/images/logo1.png" />
    <span class="spacer"></span>
    <ul class="flex flex-row items-end">
        <li class="md:pr-10 pr-1 md:text-2xl text-xs"><a routerLink="/landing-page"> Home </a></li>
        <li class="md:pr-10 pr-1 md:text-2xl text-xs"><a routerLink="/why-scandidate" class="active">Why?</a></li>
        <li class="md:pr-10 pr-1 md:text-2xl text-xs"><a routerLink="/for-organization">ForOrganization</a></li>
        <li class="md:pr-10 pr-1 md:text-2xl text-xs"><a routerLink="/about-us">AboutUs</a></li>
    </ul>
    <a
      class="button"
      aria-label="Example icon-button with share icon"
      routerLink="/login"
    >
      Partner Login
    </a>
  </mat-toolbar>

  <section id="whyscandidate">
    <div class="container max-w-5xl mx-auto m-8">
      <p class="leading-relaxed text-3xl font-bold leading-tight text-center">
        Why SCANDIDATE?
      </p>
      <div class="flex flex-wrap sm:w-full ">
        <div class="md:w-full sm:w-1/2 p-5">
          <img src="./../../../assets/images/middle.svg" />
        </div>
        <div class="md:w-5/6 sm:w-1/2 p-5">
          <p class="text-justify text-2xl p-6 leading-tight">
            We do a Candid Scan on every Candidate you want to hire. We exist and
            operate purely with the support, collaboration and partnership of
            Human Resources professionals across different sectors. And, we
            therefore can provide pure, unadulterated support, collaboration and
            partnership to Human Resources professionals across different sectors.
            Yes, we are the bridge of information, from one HRD to another, about
            each person leaving one company and joining another. Scandidate is a
            candid career scan for each experienced professional.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container mx-auto">
      <p class="leading-relaxed text-3xl font-bold leading-tight text-center">
        How does SCANDIDATE help you reduce your time, cost and effort of
        recruitment?
      </p>
      <br />
      <div
        class="grid lg:grid-cols-2 xl:grid-cols-2 md:grid-cols-2 sm:grid-cols-1 gap-4"
      >
        <div
          class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow p-3"
        >
          <h6 class="pad"><span class="circle">1</span></h6>
          <p class="text-2xl p-6 leading-tight">
            Eliminates the need to conduct a post de-facto, lengthy, costlier
            background verification
          </p>
        </div>
        <div
          class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow p-3"
        >
          <h6 class="pad"><span class="circle">2</span></h6>
          <p class="text-2xl p-6 leading-tight">
            On-click, on-demand background report directly from the previous
            companies and educational institutes
          </p>
        </div>
        <div
          class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow p-3"
        >
          <h6 class="pad"><span class="circle">3</span></h6>
  
          <p class="text-2xl p-6 leading-tight">
            Get REAL insights from previous organizations, educational institutes,
            fed into our system on a real-time basis
          </p>
        </div>
        <div
          class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow p-3"
        >
          <h6 class="pad"><span class="circle">4</span></h6>
  
          <p class="text-2xl p-6 leading-tight">
            You will always know if your candidate has any "hidden" record which
            no other process brings to the fore
          </p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container mx-auto">
      <p class="leading-relaxed text-3xl font-bold leading-tight text-center pt-2">
        Current gaps in hiring and how SCANDIDATE addresses them
      </p>
      <br><br>
      <table mat-table [dataSource]="dataSource" class="border-separate border border-green-800">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="border border-green-600"> Gap Scenarios</th>
          <td mat-cell *matCellDef="let element" class="border border-green-600"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="name1">
            <th mat-header-cell *matHeaderCellDef class="border border-green-600"> SCANDIDATE solution</th>
            <td mat-cell *matCellDef="let element" class="border border-green-600"> {{element.name1}} </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
 </section>
 <section class="pt-5">
    <div class="container mx-auto">
      <p class="leading-relaxed text-2xl font-bold leading-tight text-center">
        Why should you give your ex-employees' information?
      </p>
      <div class="flex flex-wrap">
        <div class="w-full sm:w-1/2 p-5">
          <img src="./../../../assets/images/end.svg" />
        </div>
        <div class="w-5/6 sm:w-1/2 p-5">
          <p class="text-justify text-2xl p-6 leading-tight">
            You anyway do it - every time an ex-employee joins a new organization,
            someone from your management team or HR is spending considerable
            effort in helping the new organization complete their background
            checks. Why not instead do it in a one-shot, structured way with
            SCANDIDATE and also earn some revenue for each of your ex-employee's
            records downloaded by other organizations?
          </p>
        </div>
      </div>
    </div>
  </section>
  <br />

<mat-toolbar color="primary">
  <p class="text-center">Copyright 2020</p>
</mat-toolbar>
