<mat-toolbar color="primary">
    <img width="45" class="ml-5" src="./../../../assets/images/logo1.png" />
    <span class="spacer"></span>
    <ul class="flex flex-row items-end">
        <li class="md:pr-10 pr-1 md:text-xl text-xs"><a routerLink="/landing-page"> Home </a></li>
        <li class="md:pr-10 pr-1 md:text-xl text-xs"><a routerLink="/why-scandidate"  class="active">Why?</a></li>
        <li class="md:pr-10 pr-1 md:text-xl text-xs"><a routerLink="/for-organization">For Organization</a></li>
        <li class="md:pr-10 pr-1 md:text-xl text-xs"><a routerLink="/about-us">About Us</a></li>
    </ul>
    <a
      class="button"
      aria-label="Example icon-button with share icon"
      routerLink="/login"
    >
      Partner Login
    </a>
  </mat-toolbar>

  <section id="whyscandidate" class="section-background font-sans">
    <div class="container max-w-5xl mx-auto ">
      <div class="border-solid border-b-4 border-light-blue-500">
        <p class="text-2xl font-extrabold leading-loose">
          WHY SCANDIDATE?
        </p>
        <!-- <p class="text-xl font-bold">We do a Candid Scan on every Candidate you want to hire</p> -->
      </div>
      <div class="flex flex-wrap">
        <div class="w-9/12 sm:w-2/3 icon">
            <ul class="text-justify text-lg p-5 leading-relaxed leading-loose img-style">
              <li class="flex flex-row mb-3"><img src="../../../assets//images/check.png">A disruptive solution to synergize the HR and hiring communities</li>
              <li class="flex flex-row mb-3"><img src="../../../assets//images/check.png">Authentic, incisive insights about an organization’s ex-employees, in a structured way </li>
              <li class="flex flex-row mb-3"><img src="../../../assets//images/check.png">Enabled by the support and collaboration of HR professionals across different sectors</li>
              <li class="flex flex-row mb-3"><img src="../../../assets//images/check.png">With SCANDIDATE, you can be confident that your new hire is authentic, worthy and risk-free.</li>
            </ul>
        </div>
        <div class="w-full sm:w-3/12">
          <img src="./../../../assets/images/middle.svg" class="fill"/>
        </div>
      </div>
    </div>
  </section>

  <section class="section-background font-sans">
    <div class="container mx-auto">
      <p class="leading-relaxed text-2xl font-bold leading-tight text-center">
        How does SCANDIDATE help you reduce your time, cost and effort of
        recruitment?
      </p>
      <br />
      <div class="grid lg:grid-cols-3 xl:grid-cols-3 md:grid-cols-3 sm:grid-cols-3 gap-1">
        <div class="flex-1 bg-gr rounded-t rounded-b-none overflow-hidden shadow p-4 mt-2 ml-24 mr-1 mb-2">
          <h6 class="pad"><span class="circle">1</span></h6>
          <p class="text-xl p-5 leading-tight text-white text-center">
            Eliminates post de-facto, lengthy, costlier
            background checks
          </p>
        </div>
        <div class="flex-1 bg-gr rounded-t rounded-b-none overflow-hidden shadow p-4 mt-2 ml-10 mr-10 mb-2">
          <h6 class="pad"><span class="circle">2</span></h6>
          <p class="text-xl p-5 leading-tight text-white text-center">
            On-click, on-demand,real-time, REAL insights from ex-employers and educational institutes
          </p>
        </div>
        <div class="flex-1 bg-gr rounded-t rounded-b-none overflow-hidden shadow p-4 mt-2 ml-1 mr-24 mb-2">
          <h6 class="pad"><span class="circle">3</span></h6>
          <p class="text-xl p-5 leading-tight text-white text-center">
            Know any "hidden" records for your candidates which
            were previously uncaptured
          </p>
        </div>
      </div>
    </div>
  </section>

 <section class="section-background font-sans">
    <div class="container mx-auto">
      <div class="flex justify-around  pt-6">
      <p class="text-3xl font-bold">
        <span class="flex"><img src="../../../assets/images/gap.png" class="-mt-2 mr-3">Gap Scenarios</span>
      </p>
      <p class="text-3xl font-bold">
        <span class="flex"><img src="../../../assets/images/solution.png" class="-mt-3 mr-3" >Scandidate Solution</span>
      </p>
      </div>
      <br>
      <div class="grid lg:grid-cols-2 xl:grid-cols-2 md:grid-cols-2 sm:grid-cols-2 gap-1">
      <div class="flex-1 bg-white rounded-t rounded-b-none shadow p-1 mt-2 ml-24 mr-4 mb-8">
        <p class="text-lg p-5 leading-tight text-black m-0">
          Today ,An Employee's Background Is
          Verified After Offer Acceptance Or More
          Likely,After Joining
        </p>
      </div>
      <div class="flex-1 bg-white rounded-t rounded-b-none shadow p-1 mt-2 ml-4 mr-24 mb-8">
        <p class="text-lg p-5 leading-tight text-black m-0">
          Check The Background - On Click 
        </p>
      </div>
      <div class="flex-1 bg-white rounded-t rounded-b-none shadow p-1 mt-2 ml-24 mr-4 mb-8">
        <!-- <h6><img src="../../../assets/images/gap.png" class="-mt-8"></h6> -->
        <p class="text-lg p-5 leading-tight text-black m-0">
          Checking - resume,social media profiles,refrences
        </p>
      </div>
      <div class="flex-1 bg-white rounded-t rounded-b-none shadow p-1 mt-2 ml-4 mr-24 mb-8">
        <!-- <h6><img src="../../../assets/images/solution.png" class="-mt-10"></h6> -->
        <p class="text-lg p-5 leading-tight text-black m-0">
          Past Employer Checking - Checked Any
          Time ,Even Before Interview
  
        </p>
      </div>
      <div class="flex-1 bg-white rounded-t rounded-b-none shadow p-1 mt-2 ml-24 mr-4 mb-8">
        <!-- <h6><img src="../../../assets/images/gap.png" class="-mt-8"></h6> -->
        <p class="text-lg p-5 leading-tight text-black m-0">
          Cost - junior level background check may be ignored due to high cost 
        </p>
      </div>
      <div class="flex-1 bg-white rounded-t rounded-b-none shadow p-1 mt-2 ml-4 mr-24 mb-8">
        <!-- <h6><img src="../../../assets/images/solution.png" class="-mt-10"></h6> -->
        <p class="text-lg p-5 leading-tight text-black m-0">
          Insights - Affordable For Univeral Across Levels
        </p>
      </div>
      <div class="flex-1 bg-white rounded-t rounded-b-none shadow p-1 mt-2 ml-24 mr-4 mb-8">
        <!-- <h6><img src="../../../assets/images/gap.png" class="-mt-8"></h6> -->
        <p class="text-lg p-5 leading-tight text-black m-0">
          Binary facts - BGV has red/yellow/ green attributes
        </p>
      </div>
      <div class="flex-1 bg-white rounded-t rounded-b-none shadow p-1 mt-2 ml-4 mr-24 mb-8">
        <!-- <h6><img src="../../../assets/images/solution.png" class="-mt-10"></h6> -->
        <p class="text-lg p-5 leading-tight text-black m-0">
          Reports - Work Ethic,Merit,Values
        </p>
      </div>
      <div class="flex-1 bg-white rounded-t rounded-b-none shadow p-1 mt-2 ml-24 mr-4 mb-8">
        <!-- <h6><img src="../../../assets/images/gap.png" class="-mt-8"></h6> -->
        <p class="text-lg p-5 leading-tight text-black m-0">
          Hide - background check process also does not capture any ex- employer
        </p>
      </div>
      <div class="flex-1 bg-white rounded-t rounded-b-none shadow p-1 mt-2 ml-4 mr-24 mb-8">
        <!-- <h6><img src="../../../assets/images/solution.png" class="-mt-10"></h6> -->
        <p class="text-lg p-5 leading-tight text-black m-0">
          Future Reference - Period Of Employment, Short Or Long Will Be Fed Into The System
        </p>
      </div>
      <div class="flex-1 bg-white rounded-t rounded-b-none shadow p-1 mt-2 ml-24 mr-4 mb-8">
        <!-- <h6><img src="../../../assets/images/gap.png" class="-mt-8"></h6> -->
        <p class="text-lg p-5 leading-tight text-black m-0">
          Late Verification Onboard - Reputation Loss, Motivation Loss, Monetary Loss,Productivity Loss
        </p>
      </div>
      <div class="flex-1 bg-white rounded-t rounded-b-none shadow p-1 mt-2 ml-4 mr-24 mb-8">
        <!-- <h6><img src="../../../assets/images/solution.png" class="-mt-10"></h6> -->
        <p class="text-lg p-5 leading-tight text-black m-0">
          Onboard New Employee -#Realitycheck
        </p>
      </div>
    </div>
    </div>
 </section>
 <section class="section-background font-sans">
    <div class="container mx-auto container1">
      <div class="flex flex-wrap">
        <div class="w-full sm:w-2/6 p-5 ml-20 mt-10">
          <img src="./../../../assets/images/end.svg" />
        </div>
        <div class="w-5/6 sm:w-1/2 p-5">
          <p class="leading-relaxed text-2xl font-bold leading-loose text-center">
            Why should you give your ex-employee's information?
          </p>
          <p class="text-justify text-lg leading-loose">
            You anyway do it - Every time your ex-employee joins a new organization, someone from your management team or HR spends considerable effort in helping the new organization complete their background checks. And, you may not be doing you good performers justice<br>
            Instead, let SCANDIDATE be your journal to record very insightful details about your ex-employees, AT the time of exit! You will lend incredible value to the careers of your ex-employees!
           </p>
        </div>
      </div>
    </div>
  </section>
  <br />

<mat-toolbar color="primary">
  <p class="text-center">Copyright 2020</p>
</mat-toolbar>
