<!-- <p>forward-to-linemanager-dialog works!</p> -->

<div>
         <p>Line Managers</p>
<table style="width:100%" >
    <!-- <tr>
      <th>Line Managers</th>
    </tr> -->
    <tr>
      <ul> <li  *ngFor="let item of lm; let i = index" cursor-pointer>
         
    <div class="lm click_me" (click)="assignLinemanager(item._id)">
       <span > {{item.firstName}} {{item.lastName}} </span>
    </div>
         </li> </ul>

         <!-- <ul>
            <li class="click_me"  *ngFor="let item of lm; let i = index">
                <div class="lm click_me" (click)="assignLinemanager(item._id)">
                    <span > {{item.firstName}} {{item.lastName}} </span>
                 </div>
            </li>
          </ul> -->

    <!-- <td>    <button>send</button></td>  -->
   </tr>
  </table>
  <!-- <div class="close" mat-dialog-actions>
    <button class="cls" mat-button mat-dialog-close>close</button>
  </div>
  <button mat-raised-button color="primary" class="send">Send</button> -->
  <button mat-button mat-dialog-close style="top: 10px">Close</button>
      <button mat-raised-button color="primary"  style="top: 10px" class="send">Forward</button>
</div>