.table{
    border:#6cb43b solid 1px;
  }
  
  table, th, td {
    border: 1px solid#6cb43b;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;
    height: 20px;
  }
.lm{
  border: 1px solid#6cb43b;
    border-collapse: collapse;
    padding: 5px;
    cursor: pointer;
}
/* .close-btn{
  position: absolute;
  right: 10px;
  top: 15px;
} */

.active {
  background-color: red !important;
}
/* .close {
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */
/* .close {
  top: -27px;
  margin-left: 158px;
  padding: 1px;
}
.close .button{
top: -32px;
width: 1px;

}
.close .cls{
  min-width:0px !important; 
  padding: 2px;
  margin-left: 42px;
    top: -25px;
    border: none;
    outline:none;
    background-color: none; 
} */
p{
  color: rgb(108, 180, 59);
  font-weight: bold;

}
 .send{
  top: 12px;
  background-color: #6cb43b;
  outline: none;
  }
 .br-btm{
  width: 80%;
}
.close {
  outline: none;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  height: 106px;
  margin-left: 0px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 11px 7px;
}
.yes {
  left: 237px;
  top: 19px;
  outline: none;
  height: 38px;
  width: 53px;
  border-radius: 35px;
  color: #6cb43b;
  /* border: 1px solid #6cb43b; */
  font-size: 15px;
}
.yes:hover {
  background-color: #6cb43b;
  color: #ffffff;
}
.no {
  left: 242px;
  top: 19px;
  height: 38px;
  width: 53px;
  border-radius: 35px;
  color: #6cb43b;
  /* border: 1px solid #6cb43b; */
  font-size: 15px;
}
.no:hover{
  background-color: #6cb43b;
  color: #ffffff;
}