<!-- <div class="bg-gray-200 min-h-screen pt-2 font-mono my-16">
    <div class="container mx-auto">
        <div class="inputs w-full max-w-2xl p-6 mx-auto">
            <h2 class="text-2xl text-gray-900">Account Setting</h2>
            <form class="mt-6 border-t border-gray-400 pt-4">
                <div class='flex flex-wrap -mx-3 mb-6'>
                    <div class='w-full md:w-full px-3 mb-6'>
                        <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2' for='grid-text-1'>email address</label>
                        <input class='appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500' id='grid-text-1' type='text' placeholder='Enter email'  required>
                    </div>
                    <div class='w-full md:w-full px-3 mb-6 '>
                        <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'>password</label>
                        <button class="appearance-none bg-gray-200 text-gray-900 px-2 py-1 shadow-sm border border-gray-400 rounded-md ">change your password</button>
                    </div>
                    <div class='w-full md:w-full px-3 mb-6'>
                        <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'>pick your country</label>
                        <div class="flex-shrink w-full inline-block relative">
                            <select class="block appearance-none text-gray-600 w-full bg-white border border-gray-400 shadow-inner px-4 py-2 pr-8 rounded">
                                <option>choose ...</option>
                                <option>USA</option>
                                <option>France</option>
                                <option>Spain</option>
                                <option>UK</option>
                            </select>
                            <div class="pointer-events-none absolute top-0 mt-3  right-0 flex items-center px-2 text-gray-600">
                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                            </div>
                        </div>
                    </div>
                    <div class='w-full md:w-full px-3 mb-6'>
                        <label class='block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2'>fav language</label>
                        <div class="flex-shrink w-full inline-block relative">
                            <select class="block appearance-none text-gray-600 w-full bg-white border border-gray-400 shadow-inner px-4 py-2 pr-8 rounded">
                                <option>choose ...</option>
                                <option>English</option>
                                <option>France</option>
                                <option>Spanish</option>
                            </select>
                            <div class="pointer-events-none absolute top-0 mt-3  right-0 flex items-center px-2 text-gray-600">
                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                            </div>
                        </div>
                    </div>
                    <div class="personal w-full border-t border-gray-400 pt-4">
                        <h2 class="text-2xl text-gray-900">Personal info:</h2>
                        <div class="flex items-center justify-between mt-4">
                            
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> -->


<app-navbar>
<div class="p-8 min-h-screen flex items-center">
    <div class="flex-1 max-w-5xl mx-auto">
       <div class="bg-white rounded-lg showdow mb-32">
        
          <div class="flex mb-24">
            <div class="w-1/6 h-12">
                <mat-icon class="text-5xl">chrome_reader_mode</mat-icon>
            </div>
            <div class="w-10/12 h-12">
                <h1 class="info"><a [routerLink]="['/add-appuser']">Personal Info</a></h1>
                <p class="text-xl">Provide all your personal details and how to reach you</p>
            </div>
        </div>
        <div class="-mt-6 w-9/12 border-t border-gray-500"></div>
        <div class="flex mb-20 mt-12">
            <div class="w-1/6 h-12">
            	<mat-icon class="text-5xl"> vpn_key</mat-icon>
            </div>
            <div class="w-10/12 h-12">
                <h1 class="font-bold">Login & Security</h1>
                <p class="text-xl">Change your password and make sure your account is secure</p>
            </div>
        </div>
        <div class="-mt-6 w-9/12 border-t border-gray-500"></div>
       </div>
    </div>

</div>
</app-navbar>