<table style="width:100%">
  <caption>Leadership</caption>
  <tr>
    <th>Strategic Thinking</th>
    <th>Strategic Thinking Remarks</th>
  </tr>
  <tr>
    <td>{{stategicThinking}}</td>
    <td>{{stategicThinkingRemarks}}</td>
  </tr>
  <tr>
    <th>Problem Solving</th>
    <th>Problem Solving Remarks</th>
  </tr>
  <tr>
    <td>{{problemSolving}}</td>
    <td>{{problemSolvingRemarks}}</td>
  </tr>
  <tr>
    <th>Building High Performance Team</th>
    <th>Building High Performance Team Remarks</th>
  </tr>
  <tr>
    <td>{{buildingHighPerformanceTeam}}</td>
    <td>{{buildingHighPerformanceTeamRemark}}</td>
  </tr>
  <tr>
    <th>Stakeholder Management</th>
    <th>Stakeholder Management Remarks</th>
  </tr>
  <tr>
    <td>{{stakeHolderManagment}}</td>
    <td>{{stakeHolderManagmentRemarks}}</td>
  </tr>
</table>
<div mat-dialog-actions>
<button mat-button mat-dialog-close>Close</button>
</div>

