.mat-card-avatar{
    width: 100px;
    height: 100px;
    border-radius: 0%;
  }
  .mat-input-element{
    padding:1em 8em;
    border-bottom:1px solid gray;
  }
  .example-header-image {
    background-image: url('../../../../assets//images/logo1.png');
    background-size: cover;
  }