
  <table style="width:100%">
    <caption>Issues</caption>
    <tr>
      <th>Issues</th>
      <th>Date</th>
      <th>Cause/Action Taken</th>
      <th>Uploaded Document</th>
    </tr>
    <tr>
      <td>
        Discrepancy in Joining Documents and Declarations
       </td>
      <td>{{discrepancy_date  | date: 'dd/MM/yyyy'}}</td>
      <td>{{discrepancy_cause}}</td>
      <td colspan="2">
        <a
        (click)="discrepancy_download()">
        View/DownLoad
      </a>
      </td>
    </tr>
    <tr>
      <td>
        Compliance and Discrepancy       
       </td>
      <td>{{Compliance_date | date: 'dd/MM/yyyy'}}</td>
      <td>{{Compliance_cause}}</td>
      <td colspan="2">
        <a
        (click)="Compliance_download()">
        View/DownLoad
      </a>
      </td>
    </tr>
    <tr>
      <td>
        Warning
       </td>
      <td>{{warning_date | date: 'dd/MM/yyyy'}}</td>
      <td>{{warning_cause}}</td>
      <td colspan="2">
        <a
        (click)="warning_download()">
        View/DownLoad
      </a>
      </td>
    </tr>
    <tr>
      <td>
        Show cause issued
       </td>
      <td>{{showCause_date  | date: 'dd/MM/yyyy'}}</td>
      <td>{{showCause_cause}}</td>
      <td colspan="2">
        <a
        (click)="showCause_download()">
        View/DownLoad
      </a>
      </td>
    </tr>
    <tr>
      <td>	
        Performance Improvement Plan (PIP)
      </td>
      <td>{{performance_date  | date: 'dd/MM/yyyy' }}</td>
      <td>{{performance_cause }}</td>
      <td colspan="2">
        <a
        (click)="performance_download()">
        View/DownLoad
      </a>
      </td>
    </tr>
    <tr>
      <td>	
        Termination
      </td>
      <td>{{termination_date  | date: 'dd/MM/yyyy'  }}</td>
      <td>{{termination_cause }}</td>
      <td colspan="2">
        <a
        (click)="termination_download()">
        View/DownLoad
      </a>
      </td>
    </tr>
  </table>
  <div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  </div>
  
  