
  <table style="width:100%">
    <caption>Issues</caption>
    <tr>
      <th>Issues</th>
      <th>Date</th>
      <th>Cause/Action Taken</th>
      <th>Uploaded Document</th>
    </tr>
    <tr>
      <td>
        Discrepancy in Joining Documents and Declarations
       </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>
        Compliance and Discrepancy       
       </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>
        Warning
       </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>
        Show cause issued
       </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>	
        Performance Improvement Plan (PIP)
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>	
        Termination
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
  <div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  </div>
  
  