.check {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-left: 0px;
  }
  
  .check:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.message{
    font-weight: bold;
    padding-top: 14px;
}
.yes {
    left: 82px;
    top: 19px;
    outline: none;
    height: 38px;
    width: 53px;
    border-radius: 35px;
    color: #6cb43b;
    /* border: 1px solid #6cb43b; */
    font-size: 15px;
  }
  .yes:hover {
    background-color: #6cb43b;
    color: #ffffff;
  }
  .no {
    left: 64px;
    top: 19px;
    outline: none;
    height: 38px;
    width: 53px;
    border-radius: 35px;
    color: #6cb43b;
    /* border: 1px solid #6cb43b; */
    font-size: 15px;
  }
  .no:hover{
    background-color: #6cb43b;
    color: #ffffff;
  }