

      <table style="width:100%">
        <caption>Work Ethic</caption>
        <tr>
          <th>Self Driven / Intiative</th>
          <th>Work Independently</th>
        </tr>
        <tr>
          <td>Needs Improvement</td>
          <td>Needs Improvement</td>
        </tr>
        <tr>
          <th>Creativity</th>
          <th>Team Work</th>
        </tr>
        <tr>
          <td>Needs Improvement</td>
          <td>Needs Improvement</td>
        </tr>
        <tr>
          <th>Deals Constructively With Pressure</th>
          <th>Discipline (Time Management)</th>
        </tr>
        <tr>
          <td>Needs Improvement</td>
          <td>Needs Improvement</td>
        </tr>
      </table>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>