<app-navbar>
    <div class="bg-white">
    <div class="hd">
    
      <div class="org overflow-hidden w-fullg:w-1/3 xl:w-1/6 md:mr-48 sm:w-4/6 lg:mr-8 mt-2">
      Search Student's
      </div>
      <form  class="login-form" [formGroup]="searchForm"  novalidate>
        <div class="flex flex-wrap">
            <div class="w-full md:w-1/5 sm:w-full">
                <mat-form-field class="example-form-field">
                    <mat-label>Student Name</mat-label>
                    <input  matInput formControlName="firstName"  type="text"  class="br-btm input-w" autoComplete='off' >
                </mat-form-field>
            </div>
            <div class="w-full md:w-1/5 sm:w-full">
                <mat-form-field class="example-form-field">
                    <mat-label>Year of passing</mat-label>
                    <input  matInput formControlName="yearOfPassout"  type="text"  class="br-btm input-w" autoComplete='off'  pattern="^[0-9]{4}$">
                    <mat-error *ngIf="searchForm.get('yearOfPassout').errors?.pattern">
                      Please enter valid year
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="w-full md:w-1/5 sm:w-full">
                <mat-form-field class="example-form-field">
                    <mat-label>Phone Number</mat-label>
                    <input  matInput formControlName="phoneNumber"  type="text"  class="br-btm input-w" autoComplete='off' >
                </mat-form-field>
            </div>
            <div class="w-full md:w-1/5 sm:w-full">
                <mat-form-field >
                    <mat-label>Inistution Name</mat-label>
                    <input  matInput formControlName="intitutionName"  type="text"  class="br-btm input-w" autoComplete='off' >
                </mat-form-field>
            </div>
            <div class="w-full md:w-1/6 sm:w-full">
                <button mat-raised-button class="bg-black text-white rounded inline-flex items-center" (click)="search()"><mat-icon>search</mat-icon></button> 
            </div>
        </div>
      </form>
    </div>
    <div class="mat-elevation-z8 data-table">
      <table mat-table [dataSource]="dataSource" class="full-width-table"  aria-label="Elements">
        
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef >Student Name</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.firstName | titlecase}}</mat-cell>
        </ng-container>
    
        <!-- Email -->
        <ng-container matColumnDef="roll">
          <mat-header-cell *matHeaderCellDef >Roll Number</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.roll}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="insName">
          <mat-header-cell *matHeaderCellDef >Inistution Name</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.intitutionName}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef >Email</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="phoneNumber">
          <mat-header-cell *matHeaderCellDef >phone Number</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.phoneNumber}}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="nameOfCourse">
          <mat-header-cell *matHeaderCellDef >Name Of Course</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.nameOfCourse}}</mat-cell>
        </ng-container>

       

        <ng-container matColumnDef="yoj">
            <mat-header-cell *matHeaderCellDef >Year of Joining</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.yearOfJoining}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="yop">
            <mat-header-cell *matHeaderCellDef >Year of Passing</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.yearOfPassout}}</mat-cell>
        </ng-container>
        
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"   > 
        </mat-row>>
        <div class="p-4" *matNoDataRow>
          <p>No data matching the filter </p>
        </div>
       
      </table>
      <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
    </div>
    </div>
    
    </app-navbar>
    
    