<mat-toolbar color="primary">
    <img width="25" src="./../../../assets/images/logo1.png" />
    <span class="spacer"></span>
    <ul class="flex flex-row items-end">
        <li class="md:pr-10 pr-1 md:text-2xl text-xs"><a routerLink="/landing-page"> Home </a></li>
        <li class="md:pr-10 pr-1 md:text-2xl text-xs"><a routerLink="/why-scandidate">Why?</a></li>
        <li class="md:pr-10 pr-1 md:text-2xl text-xs"><a routerLink="/for-organization" class="active">ForOrganization</a></li>
        <li class="md:pr-10 pr-1 md:text-2xl text-xs"><a routerLink="/about-us">AboutUs</a></li>
    </ul>
    <a
      class="button"
      aria-label="Example icon-button with share icon"
      routerLink="/login"
    >
      Partner Login
    </a>
  </mat-toolbar>

  <section class="section-background border-t pt-2">
    <p class="leading-relaxed text-3xl font-bold leading-tight text-center">
      What's in it for you?
    </p>
    <div class="container mx-auto flex flex-wrap pt-2 pb-8">
      <div class="w-full mb-4">
        <div
          class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"
        ></div>
      </div>
      <div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
        <div
          class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow p-3"
        >
          <div class="flex flex-wrap">
            <p class="leading-tight text-2xl font-bold text-color px-6">
              As an Organization :
            </p>
  
            <ul class="list-disc text-gray-800 text-2xl p-6 leading-tight">
              <li>
                De-mystify a candidate's work ethic, conduct and professionalism
                history.
              </li>
              <li>
                Eliminate Reference check and Background check as a step in your
                hiring process and reduce cycle time.
              </li>
              <li>
                Contribute to creating a universally effective and advantageous
                industry practice.
              </li>
              <li>
                Receive extensive industry HR reports on hiring, attrition and
                best practices.
              </li>
              <li>
                Motivate employees to work consistently even while serving notice
                period.
              </li>
              <li>
                Conquer the risk of recruitment "infant mortality" - candidates
                leaving immediately after joining.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">
        <div
          class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow p-3"
        >
          <div class="flex flex-wrap">
            <p class="leading-tight text-2xl font-bold text-color px-6">
              As an Employee :
            </p>
  
            <ul class="list-disc text-gray-800 text-2xl p-6 leading-tight">
              <li>
                Augment your employability with your own Scandidate record - your
                credentials can't get a stronger backing than this!
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="p-5">
    <div class="container mx-auto">
      <p class="leading-relaxed text-3xl font-bold leading-tight text-center">
        The “cost” of wrong hire
      </p>
      <div class="text-justify text-2xl p-6 leading-tight">
        <ul>
            <li>12% Of Senior Level Professionals Have Been Caught Fudging Their Resumes As Compared
            Economic Times - Dec 2017.</li>
            <li>Average Cost Of Wrong Hiring Can Equal 30% Of The 1St Year’s Potential Earnings
            The Replacement Cost Of A Wrong Hire Is Up To 3 Times The Salary.</li>
            <li><b>*HR.Com</b></li>
            <li>53% Of Job Applicants Contain Inaccurate Information
            49% Hiring Managers Have Caught Applicants Fabricating His / Resume
            11% Of Applicants Misrepresented Why They Left A Former Employer.</li>
            <li><b>*Source: Cleard Life</b></li>
            <li>41% Of Hiring Managers Rely On “Gut Instinct” While Recruiting For Higher Positions
            93% Screening Has Exposed A Person Who Lied On A Resume.</li>
            <li>71% Screening Uncovers Issues That Would Not Have Been Found Otherwise
            **2017-18 APAC Hire Right Employment Screening Benchmark Report.</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section-background p-5">
    <div class="container mx-auto">
      <p class="leading-relaxed text-3xl font-bold leading-tight text-center">
        Exclusive Offers for our members - Organizations
      </p>
      <p class="text-justify text-2xl p-6 leading-tight">
        In Addition To The Opportunity To #Knowyourhires, We Also Have Some Exciting
        Offers For Organizations Who Join Us NOW
      </p>
      <p class="back-styles">1. Your Wallet: 100 Points For A Free SCANDIDATE REPORT</p>
      <p class="text-justify text-2xl p-2 leading-tight">Your Ex-Employees Records-Each Entry Worth 25 Points </p>
      <p class="text-justify text-2xl p-2 leading-tight">Other Partners Download Of Your Ex-Employees Record Each Download
        Worth 10 Points</p>
      <p class="text-justify text-2xl p-2 leading-tight">Referrals - Other Organizations Onboarded </p>
      <p class="back-styles">2.Up Your Employer Branding Game,Riding On Our Partnership Through Our Social
        Media And Network Campaigns </p>
      <p class="back-styles">3.Early Bird Offers - Only For Our First 100 Customers </p>
      <p class="text-justify text-2xl p-6 leading-tight">Free Downloads - First 50 SCANDIDATE Reports Or 40% Discount - For The First
        100 SCANDIDATE Reports</p>
    </div>
  </section>
  <br />

<mat-toolbar color="primary">
  <p class="text-center">Copyright 2020</p>
</mat-toolbar>
