/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  line-height: 1.15 !important;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* login page styles */
.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: white;
  height: 0px !important;
}
@media (min-width: 1024px) {
  .lg\:w-64 {
    width: 40rem !important;
  }
  .mat-input-element {
    padding: 2em 0em 0.3em !important;
  }
  .mat-form-field-infix {
    width: 350px !important;
  }
  .mat-select-panel {
    margin: 39px !important;
  }
}
@media (min-width: 320px) {
  .pd {
    width: 150px;
  }
}
/*  want text color is green */

.text-green {
  color: #6cb43b;
}
/*  want text color is black */
.text-black {
  color: #13250c;
}
/*  want text color is white */
.text-white {
  color: #ffffff;
}
/* loginbutton styles */
.lg-button {
  height: 45px;
  width: 150px;
  border-radius: 23px;
  color: #6cb43b;
  border: 1px solid #6cb43b;
  font-size: 15px;
}
/*login Button hover styles */
.lg-button:hover {
  background-color: #6cb43b;
  color: #ffffff;
}
/* border styles */
.br-gray {
  border: 1px solid gray;
}
/* border styles on hover */
.br-gray:hover {
  border: 1px solid #6cb43b;
}
/* text styles */
.txt-size {
  font-size: 15px;
  color: #13250c;
}
/* text styles  on hover*/
.txt-size:hover {
  color: #6cb43b;
}
/* heading styles */
.hd-size {
  font-size: 30px;
  font-weight: 600;
  font-family: "Poppins";
  color: #6cb43b;
}
/* sub heading styles */
.sub-hd-size {
  font-size: 20px;
  font-weight: normal;
  font-family: "Poppins";
}
/* paragraph styles */
.para-styles {
  font-size: 15px;
  text-align: center;
}

/* add button styles */
.add-button {
  color: white;
  background-color: #13250c;
}

/* table header styles */
.tbl-header {
  background-color: #6cb43b;
  color: white;
}
.mat-form-field-label {
  color: black !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  font-weight: 500 !important;
}
.br-btm {
  border-bottom: 1px solid gray !important;
}
.bx-shadow {
  box-shadow: 0px 5px whitesmoke;
}
.hd-add {
  color: #6cb43b;
}
.alrt-hd {
  color: #6cb43b;
  font-size: 18px !important;
  text-align: center;
  font-family: "Poppins" !important;
  margin: 0px !important;
}
.alrt-btn {
  height: 33px;
  width: 80px;
  border-radius: 23px;
  color: #ffffff;
  border: 1px solid #6cb43b;
  font-size: 15px;
  background-color: #6cb43b;
}
.br-about {
  /* border: 1px solid gray !important; */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.focus\:shadow-outline:focus {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.25) !important;
}
.mat-form-field-suffix {
  margin-left: -20px !important;
}
.anchr-styles {
  color: #6cb43b;
}
a {
  cursor: pointer;
}
.mat-list-item-content {
  margin: 10px 0px !important;
  font-size: 15px;
}
.mat-list-item-content:hover {
  color: #6cb43b;
}
.mat-nav-list .mat-list-item:hover {
  background: none !important;
}
button {
  cursor: pointer !important;
}
.mat-icon {
  cursor: pointer !important;
}
.material-icons {
  cursor: pointer !important;
}
.mat-cell {
  font-size: 12px !important;
}
mat-header-cell:last-of-type {
  padding-right: 0px !important;
}
mat-cell:last-of-type {
  padding-right: 0px !important;
}
mat-row {
  min-height: 38px !important;
}
tr.mat-row {
  height: 38px !important;
}
.mat-tab-label-active {
  background-color: #6cb43b;
  color: white !important;
  border: 2px solid white !important;
}
.mat-tab-label {
  opacity: 1.5 !important;
}
.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label {
  transform: translateY(-0.34375em) scale(0.75) !important;
}
@media (min-width: 1024px){
.mat-select {
    padding: 2em 0em 0.3em !important;
}
}
.active{
  color: black !important;
}